[2020-09-27 21:30] geekquad opened #2 "Implementation of Beginner Supervised ML Algorithms"
Implementation of beginner ML Algorithms:

- [x] ~~Naive Bayes~~

- [ ] SVM

- [x] ~~KNN~~

- [x] ~~Linear Regression~~

- [x] ~~Logistic Regression~~

- [ ] Decision Tree

- [ ] AdaBoost

- [x] ~~Random Forest~~

- [x] ~~XGBoost~~

- [ ] Boosting

- [ ] Ridge Regression

[2020-09-28 10:06] MAJOR-BEAST opened #3 "Sorting Algorithms in Python"
- [x] ~~Insertion Sort~~

- [x] ~~Selection Sort~~

- [x] ~~Bubble Sort~~

- [x] ~~Heap Sort~~

- [x] ~~Quick Sort~~

- [x] ~~Radix Sort~~

- [x] ~~Merge Sort~~

- [x] ~~Topological Sort~~

[2020-09-28 11:29] Siddhant-K-code commented on #3
three of them complete, please check my PR

[2020-09-29 09:04] Pranjalmishra30 commented on #2
I would like to work on Linear and logistic regression.
Can you please assign the issue to me.

[2020-09-29 10:20] geekquad commented on #2
Sure. Remember PRs will be counted from 1st October. Please star the repo too and join the slack channel as well.

[2020-09-29 13:37] geekquad opened #6 "Implementation of beginner Unsupervised ML Algorithms"
Unsupervised learning models are used when we only have the input variables (X) and no corresponding output variables.
Implementation of beginner Unsupervised Learning Algos:

- [x] ~~Apriori~~

- [x] ~~K-means~~

- [x] ~~PCA~~

- [x] ~~ICA~~

[2020-09-29 13:45] geekquad opened #7 "Searching Algorithms in Python"
- [x] ~~Linear Search~~

- [x] ~~Binary Search~~

- [x] ~~Bilinear Search (Improvised version of Linear Search)~~

- [x] ~~Breadth First Search~~

- [x] ~~Depth First Search~~

- [x] ~~Exponential Search~~

- [x] ~~Interpolation Search~~

- [x] ~~Z Algorithm~~

- [x] Fibonacci Search

- [x] ~~Jump Search~~

- [x] ~~Ternary Search~~

- [x] ~~Sublist Search~~

[2020-09-29 14:53] sravanireddy1102 commented on #7
Hey!Can I work on this?

[2020-09-29 17:02] geekquad commented on #7
Hello! Which issue would you like to work on?
Also please join our slack channel and feel free to contact us there too. Thank you :)

[2020-09-29 18:03] Aditi-1400 commented on #3
Hey, I would like to work on this!

[2020-09-29 18:12] MAJOR-BEAST commented on #3
Hey Aditi!
Which issue would you like to work on? Remember, PRs will be counted from 1st Oct. Also, please join our slack channel too, and feel free to contact us there as well. Thank you  :)

[2020-09-29 18:17] Aditi-1400 commented on #3
I'd like to work on heap, quick and radix sort!

[2020-09-29 20:14] geekquad opened #8 "Intermediate Sorting Algorithms in Python"
### List of beginner to intermediate algorithms in Python:

- [ ] Wiggle sort

- [ ] Tree sort

- [ ] Shell sort

- [ ] Tim sort

- [ ] Stooge sort

- [ ] Recursive Quick Sort

- [ ] Recursive Insertion Sort

- [ ] Recursive Bubble Sort

- [ ] Random Pivot Quick Sort

- [ ] Bead Sort

- [ ] Bitonic Sort

- [ ] Bogo Sort

- [ ] Bucket Sort

- [ ] Cocktail Shaker Sort

- [ ] Comb Sort

- [ ] Pigeon

[2020-09-30 03:39] sravanireddy1102 commented on #7
Can I add some algorithms to the repository? Linear search ,Binary search
and also some sorting algorithms in python

On Tue, Sep 29, 2020 at 10:32 PM Aditya Kumar Gupta <
notifications@github.com> wrote:

[2020-09-30 04:33] kritikaparmar-programmer commented on #8
Hey @geekquad I would like to work on Recursive Insertion Sort. Please assign me..

[2020-09-30 04:35] kritikaparmar-programmer commented on #6
Hey @geekquad  Do we have to write custom implementation of the given algos?
If yes then please assign me K-means . So that I can start working on it..

[2020-09-30 04:38] kritikaparmar-programmer commented on #7
Hey @geekquad can I work on Linear Search and Binary Search?

[2020-09-30 04:39] kritikaparmar-programmer commented on #2
Hey @geekquad I would like to work on KNN.

[2020-09-30 05:07] ChiragSharma1 commented on #7
can i work Depth First and Breadth first Search?

[2020-09-30 05:43] MAJOR-BEAST commented on #8
Hey Kritika, surely, We'll assign you with it. Just wait for today, and you'll be good to go from tomorrow.

[2020-09-30 05:50] arkodeepg commented on #8
Hi, @geekquad when the hacktoberfest starts please assign me Recursive Quick Sort

[2020-09-30 05:51] MAJOR-BEAST commented on #7
From tomorrow on we'll be assigning everyone with whatever you guys want to contribute. But please join the slack channel as well. And try to message  in the group rather than PM on the channel.
@ChiragSharma1 @kritikaparmar-programmer @sravanireddy1102

[2020-09-30 06:06] MAJOR-BEAST commented on #7
We'll assign you all shortly. Remember PRs will he counted from 1st October (that is by midnight).
Please do join the slack channel as well.
@ChiragSharma1 @sravanireddy1102 @kritikaparmar-programmer

[2020-09-30 07:17] utkarshbajaj commented on #8
Hi, @geekquad I would like to work on recursive bubble sort, please assign me!

[2020-09-30 07:43] geekquad commented on #8
Hello Everyone!
Assigning @kritikaparmar-programmer with Recursive Insertion Sort.
Assigning @arkodeepg with Recursive Quick Sort.
Assigning @utkarshbajaj with Recursive Bubble Sort.

Remember, PRs will be counted from the 1st of October. Please go through the <a href="https://github.com/geekquad/AlgoBook/blob/master/CONTRIBUTING.md"> contributing </a> guidelines too. Please join our <a href="http

[2020-09-30 07:49] geekquad commented on #7
Hey @sravanireddy1102 please be specific which issues would you like to take so that it avoids any sort of confusion to others while they check upon the issues. Assigning **Linear** and **Binary** search to you.
Remember, PRs will be counted from 1st October. Make separate PRs for each one of them.
For any queries, please join our <a href="https://join.slack.com/t/geekquad/shared_invite/zt-i117xz4

[2020-09-30 07:49] Siddhant-K-code commented on #8
I would like to work on the following :
Bead Sort, Bitonic Sort, Bogo Sort, Bucket Sort, Cocktail Shaker Sort, Comb Sort

if Multiples are allowed, so @geekquad  pls assign me these.

[2020-09-30 07:51] geekquad commented on #8
Assigning Bead Sort, Bitonic Sort, Comb Sort to @Siddhant-K-code
Remember, PRs will be counted from the 1st of October.

[2020-09-30 07:56] Siddhant-K-code commented on #7
I would like to work on Ternary Search

pls assign me with that @geekquad

[2020-09-30 07:57] geekquad commented on #7
Assigning Ternary Search to @Siddhant-K-code

[2020-09-30 07:59] geekquad commented on #6
Assigning K-Means to @kritikaparmar-programmer
Happy Coding :)

[2020-09-30 08:01] geekquad commented on #3
Assigning Quick, Heap, and Radix sort to @Aditi-1400
Remember, PRs will be counted from the 1st of October.
Please join our <a href="https://join.slack.com/t/geekquad/shared_invite/zt-i117xz40-6eN05mvvci4eIdsrU1ehcA"> Slack </a> channel as well. Thankyou :)

[2020-09-30 08:04] geekquad commented on #2
Assigning KNN to @kritikaparmar-programmer

[2020-09-30 08:22] srishtipoudel commented on #8
Hi, I would like to work on  tree sort, Tim sort, Pancake Sort and External Sort.

[2020-09-30 08:24] srishtipoudel commented on #8
Hi I would like to work on trim sort

[2020-09-30 08:33] MAJOR-BEAST commented on #8
Hey @

Hey Srishti, which one would you like to work upon. Remember, PRs will be counted from 1st Oct. Also, do join the slack channel.

[2020-09-30 08:34] srishtipoudel commented on #8
Tim Sort

[2020-09-30 08:37] MAJOR-BEAST commented on #8
Assigning @srishtipoudel with Trim Sort

[2020-09-30 09:30] MAJOR-BEAST commented on #7
Assigning **Depth First Search** and **Breadth First Search** to @ChiragSharma1 . Happy Coding :)

[2020-09-30 09:41] vlx01 commented on #8
Hey, @geekquad I would like to work on Cocktail shaker sort and Bitonic sort.

[2020-09-30 09:48] sarthakregmi commented on #8
Hello @geekquad , I would like to work on tree sort and random pivot quick sort.

[2020-09-30 09:56] geekquad commented on #8
Assigning Cocktail Shaker Sort and Boggo sort to @vlx01

Assigning Random Pivot Quick Sort and Tree Sort to @sarthakregmi

[2020-09-30 10:01] vlx01 commented on #7
Hey @geekquad, I'd like to take on the Sublist search.

[2020-09-30 10:01] geekquad commented on #7
Assigning Sublist Search to @vlx01

[2020-09-30 10:40] bryonye commented on #3
Hi -- can I please be assigned the Bubble sort? Thanks!

[2020-09-30 10:41] geekquad commented on #3
Assigning Bubble sort to @bryonye
Remember, PRs will be counted from the 1st of October.
Please join our slack channel as well. Happy Coding :)

[2020-09-30 11:29] srishtipoudel commented on #8
Hi @geekquad Just had a lil confusion since it is going to be my first time contribution in open source project, should we have to sort the given dataset or only write the sorting algorithm code in python?

[2020-09-30 11:32] bhaveshlohana commented on #8
Hello, I'd like to work on Merge Sort.

[2020-09-30 11:33] bhaveshlohana commented on #3
Hello, I'd like to work on Merge Sort.

[2020-09-30 12:32] geekquad commented on #3
Assigning Merge Sort to @bhaveshlohana

[2020-09-30 12:53] ABHI165 commented on #3
hello, i'd like to work on Insertion Sort

[2020-09-30 12:55] geekquad commented on #3
Assigning Insertion Sort to @ABHI165

[2020-09-30 13:04] ABHI165 commented on #8
Hello , I'd like to work on Gnome sort

[2020-09-30 13:06] geekquad commented on #8
Assigning Gnome Sort to @ABHI165
Remember, PRs will be counted from the 1st of October.

[2020-09-30 13:49] subhash1612 commented on #7
Hey @geekquad  I would like to work on jump search

[2020-09-30 13:51] geekquad commented on #7
Assigning Jump Search to @subhash1612
Remember, PRs will be counted from 1st October.
For any queries, please join our <a href="https://join.slack.com/t/geekquad/shared_invite/zt-i117xz40-6eN05mvvci4eIdsrU1ehcA"> Slack </a> channel as well.

[2020-09-30 13:58] subhash1612 commented on #3
Hey I would like to work on selection sort

[2020-09-30 14:02] geekquad commented on #3
Assigning Selection Sort to @subhash1612
Remember, PRs will be counted from the 1st of October.

[2020-09-30 14:16] subhash1612 commented on #7
Hey @geekquad I would also like to work on exponential search

[2020-09-30 14:20] geekquad commented on #7
Assigning Exponential Search to @subhash1612

[2020-09-30 14:28] chaturvediabhay24 commented on #7
Hi @geekquad i would like to work on fibonacci search. please assign me the same.

[2020-09-30 14:33] geekquad commented on #7
Assigning Fibonacci Search to @chaturvediabhay24
Remember, PRs will be counted from 1st October.
Please join our <a href="https://join.slack.com/t/geekquad/shared_invite/zt-i117xz40-6eN05mvvci4eIdsrU1ehcA"> Slack </a> channel as well.

[2020-09-30 14:42] chaturvediabhay24 commented on #3
Hi @geekquad can i work on tim sort and bucket sort which are not listed above.

[2020-09-30 14:48] geekquad commented on #3
Hey @chaturvediabhay24 , please see refer them <a href="https://github.com/geekquad/AlgoBook/issues/8"> here</a>.

[2020-09-30 15:08] rohitjoshi6 commented on #8
Can we have other algorithms like binary search ,bubble sort etc??

[2020-09-30 15:13] geekquad commented on #8
Hello @rohitjoshi6, we already have them.
Please go through all the issues.

[2020-09-30 15:18] rohitjoshi6 commented on #8
Yes Apologies for not going through them earlier.
I will try contributing over there

[2020-09-30 15:20] rohitjoshi6 commented on #7
Hey @geekquad i would love work on linear search and jump search?

[2020-09-30 15:24] geekquad commented on #7
Hello @rohitjoshi6, Linear Search and Jump search has already been taken up by the contributors.
However we still have Interpolation Search here as well as several Sorting Algorithms <a href="https://github.com/geekquad/AlgoBook/issues/8#issuecomment-701458887"> here</a>.
Do let me know if you want to work on any of these.
Please join our <a href="https://join.slack.com/t/geekquad/shared_invite/zt

[2020-09-30 15:33] rohitjoshi6 commented on #7
Hey @geekquad can i work on interpolation search??

[2020-09-30 15:40] geekquad commented on #7
Assigning Interpolation Search to @rohitjoshi6

[2020-09-30 15:47] chaturvediabhay24 commented on #8
Hi @geekquad i want to work on Bucket Sort. please assign me.

[2020-09-30 16:14] icecreamcake101 commented on #8
hi i want to work on Pancake Sort

[2020-09-30 16:19] vardhanaleti commented on #2
Hey @geekquad I'd like to work on random forests.

[2020-09-30 16:35] MAJOR-BEAST commented on #8
Assigning @chaturvediabhay24 with **Bucket Sort**.
Assigning @icecreamcake101 with **Pancake Sort**

[2020-09-30 16:39] chaturvediabhay24 commented on #2
HI @geekquad can the implementation could be done using libraries or it needs to be done from scratch?

[2020-09-30 16:39] MAJOR-BEAST commented on #2
Assigning **Random Forest** to @vardhanaleti
Remember PRs will be counted from 1st of Oct.

[2020-09-30 16:40] chaturvediabhay24 commented on #6
i would like to work on pca. please assign me the same.

[2020-09-30 16:43] MAJOR-BEAST commented on #2
Hi

[2020-09-30 17:01] geekquad commented on #6
Assigning @chaturvediabhay24 with PCA.

[2020-09-30 17:19] arpita1899 commented on #2
hey @geekquad i want to work on svm , decision tree , and AdaBoost

[2020-09-30 17:20] geekquad commented on #2
Assigning SVM, Decision Tree and AdaBoost to @arpita1899

[2020-09-30 17:21] arpita1899 commented on #8
hey @geekquad  i would like to work on piegon sort

[2020-09-30 17:29] geekquad commented on #8
Assigning Pigeon Sort to @arpita1899

[2020-09-30 18:32] geekquad opened #16 "Graph Algorithms"
Implementation of Graph Algorithms:
Needs to be merged in Python/Graphs.

- [x] ~~A* (A star)~~

- [x] ~~Dijkstra’s shortest path algorithm~~

- [x] ~~Dijkstra’s Algorithm for Adjacency List Representation~~

- [x] ~~Kruskal’s Minimum Spanning Tree Algorithm~~

- [x] ~~Bellman-Ford Algorithm~~

- [x] ~~Floyd Warshall Algorithm~~

- [x] Kahns Algorithm

- [x] ~~Peterson Graph Problem~~

- [ ] Stein

[2020-09-30 18:46] MAJOR-BEAST opened #20 "MATRIX Algorithm"
Implementation of Basic Matrix Algorithms
Needs to be merged in Python/Matrix

- [ ] Inverse of Matrix

- [x] ~~Rotate Matrix~~

- [x] ~~Sorting a Matrix~~

- [x] ~~Spiral Print~~

- [x] ~~Sherman Morrison~~

- [x] ~~Count Islands in Matrix~~

- [x] ~~Matrix Manipulation and Multiplication~~

- [x] nth Fibonacci number using matrix exponentiation

[2020-09-30 18:47] diyajaiswal11 commented on #16
Hey @geekquad , I would like to work on Dijkstra’s shortest path algorithm and Floyd Warshall Algorithm. Please assign this to me.

[2020-09-30 18:48] MAJOR-BEAST commented on #16
Assigning Dijkstra’s shortest path algorithm and Floyd Warshall Algorithm to @diyajaiswal11

[2020-09-30 19:10] diyajaiswal11 commented on #20
Hey @MAJOR-BEAST , I would like to work on Inverse of Matrix. Please assign it to me.

[2020-09-30 19:14] diyajaiswal11 opened #24 "Typos in README.md"
Hey @geekquad and @MAJOR-BEAST , I found few typos in README file. I would like to correct them. Please assign it to me.

[2020-09-30 19:20] geekquad commented on #24
Sure. Go ahead. :)

[2020-09-30 19:24] MAJOR-BEAST commented on #20
Assigning @diyajaiswal11 with Inverse of Matrix

[2020-09-30 19:28] SaiAshish2906 commented on #16
Hey @geekquad , I would like to work on the Peterson Graph Problem. Please assign this to me,

[2020-09-30 19:29] geekquad commented on #16
Assigning Peterson Graph Problem to @SaiAshish2906.

[2020-09-30 19:58] AnfieldDude commented on #8
Hello @geekquad, can I please work on wiggle sort?

[2020-09-30 20:02] ParthS28 commented on #20
Hello @MAJOR-BEAST, can you assign rotate matrix to me?

[2020-09-30 20:05] kritikaparmar-programmer commented on #20
Hey @geekquad please assign me spiral print of the matrix.. I would like to work on it.

[2020-09-30 20:25] rajatsahay commented on #7
Hey
I could implement the Z algorithm in Python. Would love to work on this

[2020-09-30 20:25] vedantpople4 commented on #2
I will work on Naive Bayes

[2020-09-30 20:26] alpha037 commented on #8
Hey, I would like to work on **Cycle Sort.**

[2020-09-30 20:27] rajatsahay commented on #6
Hey @geekquad
If ICA is independent component analysis, I would like to work on that. Request you to assign the issue to me.
Thanks

[2020-09-30 20:28] geekquad commented on #2
Hey @vedantpople4 Naive Bayes is already implemented. However, if you think you can improve that, please go ahead. Thank you.

[2020-09-30 20:29] geekquad commented on #8
Assigning Cycle sort to @alpha037

[2020-09-30 20:33] geekquad commented on #7
Hey @rajatsahay, Z algorithm is already implemented but we have plenty in <a href="https://github.com/geekquad/AlgoBook/issues/20"> Matrix </a>, <a href="https://github.com/geekquad/AlgoBook/issues/16"> Graph </a> and <a href="https://github.com/geekquad/AlgoBook/issues/8"> Sorting </a>.
See if you can contribute with something else. Thankyou :)

[2020-09-30 20:34] rajatsahay commented on #7
That's cool. Thanks

[2020-09-30 20:35] geekquad commented on #6
Yes @rajatsahay, ICA is Independent component analysis. Assigning you to it.

[2020-09-30 20:36] ParthS28 opened #33 "Recommender system"
Hello, can I add notebooks for a recommender system?

I worked on one recently and it could fit here quite well.

Thanks.

[2020-09-30 20:36] rajatsahay commented on #16
Hey @geekquad
I'd like to work on the A* (A-star) algorithm. Please assign it to me
Thanks

[2020-09-30 21:07] geekquad commented on #33
Sure @ParthS28 Go ahead. Can you please brief me out with the stacks used in the slack channel?

[2020-09-30 21:07] #24 closed

[2020-09-30 21:08] geekquad commented on #20
Assigning Spiral Print to @kritikaparmar-programmer .

[2020-09-30 21:09] geekquad commented on #16
Assigning A* algorithm to @rajatsahay .

[2020-09-30 21:09] rajatsahay commented on #20
hey @MAJOR-BEAST and @geekquad
I could work on Count Islands in a Matrix
Could you assign it to me? Thanks

[2020-09-30 21:14] geekquad commented on #20
Assigning you with the same @rajatsahay

[2020-09-30 21:22] nileshteji commented on #16
Can i work on java language as well?

[2020-09-30 21:49] Zafershah24 commented on #6
Hey @geekquad can I work on PCA?

[2020-09-30 22:15] MAJOR-BEAST commented on #16
Hey @nileshteji, For now we haven't started with any language other than Python. If you want to contribute now, please stick to this language. Also for more updates, you can keep a check.

[2020-09-30 22:17] MAJOR-BEAST commented on #20
Assigning @ParthS28 with Rotate matrix

[2020-09-30 22:54] ParthS28 commented on #20
Hi, nth Fibonacci number using matrix exponentiation seems really exciting and no one has taken it up yet. So can I do this?

[2020-09-30 23:04] geekquad commented on #20
Sure @ParthS28 . Go ahead :)
Assigning nth Fibonacci number using matrix exponentiation to @ParthS28

[2020-10-01 03:21] chaturvediabhay24 commented on #6
hey @Zafershah24 I have been assigned PCA and I have already submitted pull request for the same.

[2020-10-01 04:08] rudrakshi99 commented on #16
Hey @geekquad, I would like to work on Kruskal’s Minimum Spanning Tree Algorithm.

[2020-10-01 04:27] MAJOR-BEAST commented on #16
Assigning Kruskal’s Minimum Spanning Tree Algorithm to @rudrakshi99

[2020-10-01 06:26] vishwasmattur commented on #16
Hey @geekquad
I would like to work on Dial's algorithm

[2020-10-01 06:28] bhaveshlohana commented on #7
Can I do Fibonacci search?

[2020-10-01 06:36] shaswatsingh19 commented on #20
can I work on sherman morrison in python

[2020-10-01 06:37] shaswatsingh19 commented on #7
can I do z algorithm

[2020-10-01 06:40] hritik5102 commented on #2
Hello @geekquad,  i would like to work on this issue :)

I would like to add this algorithm to your repo ...

- [x] Decision tree
- [x] Boosting
- [x] Random forest regression
- [x] Random forest classification
- [x] Ridge regression

Thank you :)

[2020-10-01 06:41] shaswatsingh19 opened #61 "String algorithm"
Best string algorithm for competitive programming

- [ ] String Hashing

- [ ] Rabin-Karp for String Matching

- [ ] Prefix function - Knuth-Morris-Pratt

- [ ] Z-function

- [ ] Suffix Array

- [ ] Aho-Corasick algorithm

[2020-10-01 06:41] Siddhant-K-code commented on #7
@shaswatsingh19 it is already done, please go through [this](https://github.com/geekquad/AlgoBook/issues/7) issue, many of the tasks are Assigned/Completed

[2020-10-01 06:42] shaswatsingh19 commented on #61
Can  I work on string hashing and Rabin Karp algorithm in python

[2020-10-01 07:46] sachincpu commented on #16
Hey @geekquad  and @MAJOR-BEAST  I want to work on

[2020-10-01 08:07] bera5186 commented on #20
@geekquad @MAJOR-BEAST Can i do matrix multiplication ?

[2020-10-01 08:16] geekquad commented on #20
Hey @shaswatsingh19, Sherman Morrison is already done. Please look around and try to find some other issue you would like to contribute to.

Assigning Matrix manipulation and multiplication to @bera5186

[2020-10-01 08:25] bera5186 commented on #20
@geekquad i need more clarification about what you mean by "manipulation" in "Matrix manipulation and multiplication". Does it mean manipulation like addition and subtraction ?

[2020-10-01 08:27] bera5186 commented on #20
@geekquad as @diyajaiswal11 removed her assignment assign me inverse of matrix also

[2020-10-01 08:31] geekquad commented on #61
Thankyou @shaswatsingh19 for the issue. Sure. Assigning String hashing and Rabin Karp to you.
Please be sure that you place this in <a href="https://github.com/geekquad/AlgoBook/tree/master/python"> python</a> folder with the name "string algorithms". Thankyou :)

[2020-10-01 08:36] sachincpu commented on #61
Can I work on the suffix array in Python @geekquad

[2020-10-01 08:55] malhotra-paritosh commented on #61
Hi @geekquad ,
I can work on the Z-Algorithm and Knuth-Morris-Pratt
Can you assign those to me? ✌️

[2020-10-01 09:20] srishtipoudel commented on #8
Hi, I want to work on Shell Sort too, can you assign me @geekquad ?

[2020-10-01 09:21] geekquad commented on #61
Assigning Suffix Array to @sachincpu
Assigning Z-Algorithm and Knuth-Morris-Pratt to @malhotra-paritosh

[2020-10-01 09:27] geekquad commented on #8
Hey @srishtipoudel, Shell sort is already taken up by someone. Is there any other algorithm you would like to contribute to?

[2020-10-01 09:33] geekquad commented on #7
Hey @bhaveshlohana, Fibonacci Search has already been assigned to someone else, but we have plenty in <a href="https://github.com/geekquad/AlgoBook/issues/20"> Matrix </a>, <a href="https://github.com/geekquad/AlgoBook/issues/61"> String </a>,<a href="https://github.com/geekquad/AlgoBook/issues/16"> Graph </a> and <a href="https://github.com/geekquad/AlgoBook/issues/8"> Sorting </a>.
See if you ca

[2020-10-01 10:15] srishtipoudel commented on #8
what about stooge sort, external sort
I didn't anyone assign in that @geekquad

[2020-10-01 10:30] Sarvesh1523 opened #76 "Direction Catastrophe"
**Problem Statement:**

_**A man was given directions to go from point A to point B. The directions were: “SOUTH”, “NORTH”, “WEST”, “EAST”. Clearly “NORTH” and “SOUTH” are opposite, “WEST” and “EAST” too. Going to one direction and coming back in the opposite direction is a waste of time and energy. So, we need to help the man by writing a program that will eliminate the useless steps and will con

[2020-10-01 10:43] geekquad commented on #8
Assigning Stooge Sort and External Sort to @srishtipoudel

[2020-10-01 12:14] MAJOR-BEAST commented on #20
Hey @bera5186 , matrix manipulation just means, addition & deletion of rows & columns in a predefined matrix by the user.

[2020-10-01 12:16] bera5186 commented on #20
@MAJOR-BEAST got it  🤟🏻⛏️

[2020-10-01 12:17] MAJOR-BEAST commented on #20
Since @diyajaiswal11 removed her assignment, I assign @bera5186 with Inverse of Matrix

[2020-10-01 12:20] MAJOR-BEAST commented on #16
@sachincpu , please check, Peterson graph problem has been already assigned. You look out for other problems.

[2020-10-01 12:25] sarthakregmi commented on #8
Hello, could you assign me double sort and cycle sort?

[2020-10-01 12:36] MAJOR-BEAST commented on #2
Assigning @hritik5102 with Boosting and Ridge Regression.

[2020-10-01 13:25] MAJOR-BEAST commented on #8
Assigning @sarthakregmi with double sort.
Cycle sort has been already assigned.

[2020-10-01 13:38] panda311 commented on #16
Hey @geekquad , I would like to contribute for Prim's algorithm for  Mininum Spanning Tree ( it is not listed ) with Adjacency Matrix representation.

[2020-10-01 13:59] hritik5102 commented on #2
@MAJOR-BEAST Please check the PR #88

Thank you :)

[2020-10-01 14:04] icecreamcake101 commented on #8
@MAJOR-BEAST create pr with pancake sort pls check

[2020-10-01 14:11] hritik5102 commented on #61
Hello @geekquad, I would like to work on this issue :)

should I add *levenshtein_distance* and  *naive match string* algorithm?

Thank you :)

[2020-10-01 14:19] hritik5102 commented on #8
Hello @MAJOR-BEAST @geekquad, I would like to work on this issue :)

sorting algorithm which I want to add in the repo is ...

- [x] **_Heap sort_**
- [x] **_raddix sort_**
- [x] **_tree sort_**

Thank you :)

[2020-10-01 14:37] hritik5102 commented on #16
Hello @MAJOR-BEAST @geekquad, I would like to work on this issue :)

I would like to add this algorithm in your repo

- [x] **_Kahns sort_**
- [x] **_Prism minimum spanning tree_**

Thank you :)

[2020-10-01 14:40] panda311 commented on #16
Hey @geekquad @MAJOR-BEAST , I would like to work on Kahn's Algo for topo Sort with Adjacency List Representation.

Thank You :)

PS:  I have already made a pull request for the same ;)

[2020-10-01 14:49] hritik5102 commented on #16
Sorry, @panda311 but this not how things work, first the mentor, should assign a specific task to someone then only he/she can make a pull request. sorry if I hurt you but that is a general rule that we all have to follow.

Thank you :)

[2020-10-01 15:11] rocketrunner22 opened #96 "Add C++ Graph Algorithms"
Can I add C++ Graph Algorithms I have implemented?

[2020-10-01 15:54] panda311 commented on #61
Hey @geekquad I would like to add another Pattern Searching Algorithm.

Can I work on Finite Automata algorithm for Pattern Searching?

[2020-10-01 16:08] gabrielknot commented on #16
Hey @geekquad , I would like to work on Kruskal’s Minimum Spanning Tree Algorithm. Please assign this to me.

[2020-10-01 19:04] MAJOR-BEAST commented on #96
We haven't started with C++ yet, but thankyou @rocketrunner22 , we'll look out for it and will soon revert back. Till then, you can contribute in python language. :)

[2020-10-01 19:05] devangmukherjee commented on #16
I'd like to work on Kahn's Algorithm using C++  @geekquad @MAJOR-BEAST

[2020-10-01 19:44] sachincpu commented on #16
Hey @MAJOR-BEAST  and @geekquad  sir I want to work on Dijkstra’s Algorithm for Adjacency List Representation. Please assign this to me

[2020-10-02 01:56] onowdev commented on #7
I have done a pull request for the Interpolation search algorithm, please review it, @geekquad

[2020-10-02 02:41] gittygupta commented on #3
I would like to work on as many of the above as possible

[2020-10-02 03:01] Siddhant-K-code commented on #96
Yes, i am also waiting for C++ Algorithms

[2020-10-02 04:10] akash22022 commented on #33
Can I add notebook on Content based filtering

[2020-10-02 04:50] ParthS28 commented on #33
Hi @akash22022, there is already a notebook on content-based filtering. But if you have something to add to it, maybe you can edit the notebook without removing the original content. How does that sound @geekquad ?
Also, we have collaborative filtering up for grabs right now. You can work on it if you want to. Thanks:)

[2020-10-02 04:54] akash22022 commented on #33
Ok then let me work on collaborative filtering

[2020-10-02 06:20] shaswatsingh19 commented on #61
I have completed rabin karp PR issue #84 please check

[2020-10-02 06:40] ddhira123 commented on #8
Hi @geekquad I would like to contibute for random pivot quick sort. Could you please assign this issue to me?

[2020-10-02 09:22] MAJOR-BEAST commented on #96
We'll be reverting back very soon.

[2020-10-02 09:32] MAJOR-BEAST commented on #61
@hritik5102 @panda311 , We'll soon be adding another issue with more string and Pattern Searching related Algorithms. Till then, we still have Aho-corasick Algorithm, You guys can work on it. Happy Coding :)

[2020-10-02 09:40] hritik5102 commented on #61
I would like to work **Aho-corasick** using CPP.

[2020-10-02 09:41] hritik5102 commented on #61
I would like to work **Aho-corasick** using CPP.

[2020-10-02 10:37] geekquad commented on #3
Hey @gittygupta, the issues above have already been assigned to people and we have received PRs for the same. But we are adding more issues. Meanwhile, just go through other issues as well and see if you can find something else to contribute to. Thank you :)

[2020-10-02 10:52] MAJOR-BEAST commented on #8
Assigning @hritik5102 with tree sort

[2020-10-02 11:00] geekquad commented on #16
Hello @gabrielknot, Kruskal’s Minimum Spanning Tree Algorithm has already been assigned to someone. Please see other issues and see if you can find something else to contribute to. We are adding more issues soon. Thankyou :)

Hey @devangmukherjee, we have not added a C++ track yet. We will let you know soon. For further updates, please join our Slack channel. Thankyou :)

Hey @panda311, please let

[2020-10-02 11:06] geekquad commented on #16
We still have Dial's Algorithm left. It is up for grab!

[2020-10-02 11:10] ArunKumar-25 opened #113 "Checking Anagrams Using Python"
@geekquad I would like to contribute, Please assign It to me.

[2020-10-02 11:12] geekquad commented on #61
Assigning Aho-corasick  to @hritik5102.

[2020-10-02 12:05] riddhi-jain commented on #7
@geekquad please assign me Interpolation Search.

[2020-10-02 12:11] panda311 commented on #16
Hey @geekquad I Know Dial's Algo too, Can I contribute with that ?

[2020-10-02 12:58] geekquad commented on #8
Assigning Random Pivot Quick Sort to @ddhira123.

[2020-10-02 13:05] riddhi-jain commented on #3
@geekquad I would like to work on Shell Sort.

[2020-10-02 13:08] riddhi-jain commented on #8
@geekquad I would like to work on Shell Sort.

[2020-10-02 13:09] geekquad commented on #8
Assigning Shell Sort to @riddhi-jain

[2020-10-02 13:31] panda311 commented on #8
Hey @geekquad Can I take Gnome sort if it's still up ??

[2020-10-02 13:51] geekquad commented on #8
hey @panda311, I am sorry but it is already assigned. But please stay with us for a while. We are adding more issues. You can grab the. Please do a check on the issues after a while.  Join our slack channel for further information.

[2020-10-02 13:53] geekquad opened #119 "Binary Tree"
Implementation of the following in Python:

- [x] ~~AVL Tree~~

- [x] ~~Basic Binary Tree~~

- [x] ~~Binary Search Tree~~

- [x] ~~Binary Tree traversal~~

- [x] ~~Recursive Binary Search Tree~~

- [x] ~~Lazy Segment Tree~~

- [x] ~~Fenwick Tree~~

- [x] ~~Non-Recursive Segment Tree~~

- [x] ~~Red-Black Tree~~

NEEDS TO BE PUSHED INTO  "**Python/Binary Tree**"

[2020-10-02 13:55] geekquad commented on #33
Hey @akash22022, you can definitely work on the Collaborative Filtering. Thankyou :)

[2020-10-02 13:57] geekquad opened #120 "Linked List"
Implementation of the following in Python:

- [x] ~~Singly Linked List~~

- [x] ~~Doubly Linked List~~

- [x] ~~Circular Linked List~~

- [x] ~~Implementing Deque using DoublyLinkedList~~

- [x] ~~Printing the elements of a linked list in reverse~~

NEEDS TO BE PUSHED INTO **"Python/Linked List"**

[2020-10-02 16:53] saileshbro commented on #120
@geekquad let me do singly and doubly linked list

[2020-10-02 17:31] geekquad commented on #120
Hey @saileshbro, I can assign you Doubly Linked list for now. Let me know if you want any other. Thankyou :)

[2020-10-02 17:37] vijay5158 commented on #120
@geekquad Can you assign me singly linkedlist  ?

[2020-10-02 17:39] geekquad commented on #120
Sure @vijay. For the future, please see that you first ask for an assignment. It is always on a first come first serve basis.
Assigning singly linked list to @vijay5158

[2020-10-02 17:40] geekquad commented on #120
Assigning Doubly Linked List and Circular Linked list to @saileshbro.

[2020-10-02 17:46] geekquad opened #124 "Greedy Algorithms"
Implementation of the following in Python:

- [x] ~~Egyptian Fraction~~

- [x] ~~Huffman Coding~~

- [x] ~~Huffman Decoding~~

- [x] ~~Job Sequencing Problem~~

NEEDS TO BE PUSHED INTO **"Python/Greedy Algorithms"**

[2020-10-02 17:48] pranavkarnani commented on #124
Would love to work on this

[2020-10-02 17:55] geekquad commented on #124
Which one would you like to work on? @pranavkarnani

[2020-10-02 18:09] pranavkarnani commented on #124
I have pushed my changes for Egyptian fractions to a new branch

[2020-10-02 18:12] geekquad commented on #124
For the future, please see that you first ask for an assignment. Assigned @pranavkarnani with Egyptian fractions.

[2020-10-02 18:44] MAJOR-BEAST commented on #61
@hritik5102 , since we haven't moved to any other language than python, so please try to stick to it for now. We'll soon be moving on to other languages as well.

[2020-10-02 18:45] MAJOR-BEAST commented on #61
@hritik5102 , since we haven't moved to any other language than python, so please try to stick to it for now. We'll soon be moving on to other languages as well.

[2020-10-02 18:50] MAJOR-BEAST commented on #7
Give us some time @onowdev , since there are many PRs, we are still working on it. Soon it will be reviewed.

[2020-10-02 19:09] Karanr1 commented on #16
Please assign Kahn's Algorithm to me @geekquad

[2020-10-02 19:19] akash22022 commented on #119
assign me basic binary tree

[2020-10-02 19:20] geekquad commented on #119
Assigning Basic Binary Tree and Binary Search Tree to @akash22022

[2020-10-02 19:23] akash22022 commented on #120
assign me printing the  elements of a linked list in reverse

[2020-10-02 19:24] geekquad commented on #120
Assigning Printing the elements of a linked list in reverse to @akash22022

[2020-10-02 21:48] ishanvj2207 commented on #124
Hey @geekquad Would like to work on job sequencing problem !

[2020-10-02 21:53] ishanvj2207 commented on #119
Hey @geekquad I would like to work on Binary Tree Traversal.
And I would need to add 3 traversals ( inorder , preorder, postorder ) for the same na ?

[2020-10-02 23:09] krisstee commented on #113
I can start on this

[2020-10-03 00:19] pranavkarnani commented on #124
Hey @geekquad i can work on Huffman Decoding

[2020-10-03 00:24] pranavkarnani commented on #119
Hey @geekquad i can work on Recursive Binary Search Tree

[2020-10-03 00:26] pranavkarnani commented on #120
Hey @geekquad can i work on Implementing Deque using DoublyLinkedList

[2020-10-03 02:27] saileshbro opened #128 "Dynamic programming algorithms"

[2020-10-03 03:42] utkarshbajaj opened #130 "In repo labels, Hactoberfest is spelled wrong."
The label should Hacktoberfest and not Hactoberfest.
According to latest guidelines, the PRs won't count if the label is not Hacktoberfest. Please change it.

[2020-10-03 04:18] sachincpu commented on #119
Hey, @geekquad  I want to work on the Avl Trees in Python. Please assign this to me.

[2020-10-03 07:33] bera5186 commented on #20
@geekquad @MAJOR-BEAST have a  👀 at #134

[2020-10-03 07:35] bera5186 commented on #6
@geekquad @MAJOR-BEAST can I do apriori?

[2020-10-03 08:08] geekquad commented on #130
Hey @utkarshbajaj, can you please share the link for it too?
But according to the rules which I have gone through, I never came across any such point saying "PRs won't count if the label is not Hacktoberfest." Please look out [here](https://hacktoberfest.digitalocean.com/faq).
Also, I have edited the tags. Thank you.

[2020-10-03 08:10] utkarshbajaj commented on #130
Sure, [These are the new updates](https://hacktoberfest.digitalocean.com/hacktoberfest-update)

[2020-10-03 08:10] geekquad commented on #119
Hey @ishanvj2207, yes you will need to add all the three traversals. I have edited the issues.

* Assigning Binary Tree Traversal and Fenwick tree implementation to @ishanvj2207
* Assigning Recursive Binary Search Tree to @pranavkarnani
* Assigning AVL tree to @sachincpu .

[2020-10-03 08:11] utkarshbajaj commented on #130
![image](https://user-images.githubusercontent.com/44445191/94986656-1027e400-057e-11eb-99fe-1954c564d213.jpeg)

[2020-10-03 08:17] geekquad commented on #130
Thank you so much for the updates @utkarshbajaj. I have made the amendments in the details and topics section and the issue tag too. Please go through them and let me know if I missed something.

[2020-10-03 09:38] geekquad commented on #120
Assigning Deque using DoublyLinkedList to @pranavkarnani

[2020-10-03 09:41] geekquad commented on #16
Hey @Karanr1, Kahns Algorithm has already been assigned to someone. However, we still have Dial's Algorithm left. Let me know if you want to work on this.

[2020-10-03 09:41] geekquad commented on #6
Assigning Apriori to @bera5186.

[2020-10-03 11:16] geekquad commented on #113
Hey @ArunKumar-25, sorry but as this issue was opened by @krisstee it went to her. Please lookout for any other issues and see if you can contribute to something else, Thankyou.

[2020-10-03 11:16] #113 closed

[2020-10-03 11:18] #2 closed

[2020-10-03 11:24] #128 closed

[2020-10-03 11:41] srishtipoudel commented on #119
@geekquad can you assign me recursive binary search?

[2020-10-03 11:44] srishtipoudel commented on #119
@geekquad  i want to work on red-black tree

[2020-10-03 11:53] sarthakregmi commented on #119
Hello @geekquad, i want to work on lazy segment tree

[2020-10-03 12:27] geekquad commented on #119
Assigning Red-Black tree to @srishtipoudel
Assigning Lazy Segment tree to @sarthakregmi

[2020-10-03 12:40] geekquad opened #142 "Contributors.md"
Adding all the contributors

[2020-10-03 12:58] geekquad commented on #142
@all-contributors please add @subhash1612 for code
@all-contributors please add @vardhanaleti for code
@all-contributors please add @sarthakregmi for code
@all-contributors please add @Siddhant-K-code for code
@all-contributors please add @srishtipoudel for code
@all-contributors please add @rajatsahay for code
@all-contributors please add @kritikaparmar-programmer for code
@all-contributors pleas

[2020-10-03 13:02] geekquad commented on #142
@all-contributors please add @subhash1612 for code
@all-contributors please add @vardhanaleti for code
@all-contributors please add @sarthakregmi for code
@all-contributors please add @Siddhant-K-code for code
@all-contributors please add @srishtipoudel for code
@all-contributors please add @rajatsahay for code
@all-contributors please add @kritikaparmar-programmer for code
@all-contributors pleas

[2020-10-03 13:02] geekquad commented on #142
@all-contributors please add @subhash1612 for code

[2020-10-03 13:03] geekquad commented on #142
@all-contributors please add @vardhanaleti for code
@all-contributors please add @sarthakregmi for code

[2020-10-03 13:04] geekquad commented on #142
@all-contributors please add @vardhanaleti for code

[2020-10-03 13:04] geekquad commented on #142
@all-contributors please add @sarthakregmi for code

[2020-10-03 13:04] geekquad commented on #142
@all-contributors please add @Siddhant-K-code for code

[2020-10-03 13:04] geekquad commented on #142
@all-contributors please add @srishtipoudel for code

[2020-10-03 13:04] geekquad commented on #142
@all-contributors please add @rajatsahay for code

[2020-10-03 13:04] geekquad commented on #142
@all-contributors please add @kritikaparmar-programmer for code

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @ChiragSharma1 for code

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @AryanRastogi7767 for code

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @vlx01 for code

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @arpita-in for design

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @Aditi-1400 for code

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @utkarshbajaj for code

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @rohitjoshi6 for code

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @diyajaiswal11 for code and doc

[2020-10-03 13:05] geekquad commented on #142
@all-contributors please add @Pranjalmishra30 for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @vijay5158 for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @sravs1122 for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @nikhilswain for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @malhotra-paritosh for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @arpita1899 for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @Vasudhatapriya for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @Capconve for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @rudrakshi99 for code

[2020-10-03 13:06] geekquad commented on #142
@all-contributors please add @pranavkarnani for code

[2020-10-03 13:07] geekquad commented on #142
@all-contributors please add @chaturvediabhay24 for code

[2020-10-03 13:07] geekquad commented on #142
@all-contributors please add @bryonye for design

[2020-10-03 13:07] geekquad commented on #142
@all-contributors please add @bryonye for code

[2020-10-03 13:07] geekquad commented on #142
@all-contributors please add @bhaveshlohana for code

[2020-10-03 13:07] geekquad commented on #142
@all-contributors please add @avinashjha11 for code

[2020-10-03 13:08] geekquad commented on #142
@all-contributors please add @ashneg for code

[2020-10-03 13:08] geekquad commented on #142
@all-contributors please add @SaiAshish2906 for code

[2020-10-03 13:08] geekquad commented on #142
@all-contributors please add @ParthS28 for code

[2020-10-03 13:08] geekquad commented on #142
@all-contributors please add @HemanthReddy99 for code

[2020-10-03 13:08] geekquad commented on #142
@all-contributors please add @Anjalikumari15 for code

[2020-10-03 13:08] geekquad commented on #142
@all-contributors please add @AnfieldDude for code

[2020-10-03 16:18] ArunKumar-25 opened #183 "Magic square algorithm"
@geekquad I would like to contribute on this, assign this to me

[2020-10-03 16:33] ArunKumar-25 opened #184 "Matrix:- Brick-Bullet problem"
@geekquad I would like to contribute on this problem, Please assign this issue to me.

[2020-10-03 16:37] ArunKumar-25 opened #185 "Strassen’s Matrix Multiplication"
@geekquad I would like to contribute on this problem, Please assign this issue to me.

[2020-10-03 16:42] sachincpu commented on #124
Hey, @geekquad  and @MAJOR-BEAST  I want to work on the Huffman decoding. Please assign this to me.

[2020-10-03 17:11] geekquad commented on #185
Assigning this to you @ArunKumar-25. Please add it in the python/matrix folder. Thankyou :)

[2020-10-03 17:12] geekquad commented on #184
Assigning this to you @ArunKumar-25. Please add it in the python/matrix folder. Thankyou :)

[2020-10-03 17:12] geekquad commented on #183
Hey @ArunKumar-25, please brief me more on this. Thankyou :)

[2020-10-03 17:13] geekquad commented on #124
Assigning Huffman Decoding to @sachincpu

[2020-10-03 17:13] geekquad commented on #124
Assigning job sequencing problem to @ishanvj2207

[2020-10-03 17:41] nkrumahthis commented on #124
Anything for me to work on?

[2020-10-03 17:49] geekquad commented on #124
Hey @nkrumahthis, welcome.
We have 1 left [here](https://github.com/geekquad/AlgoBook/issues/119).
However, we are adding more issues, so just stick with us. Please join our Slack channel for any updates. Thank you :)

[2020-10-03 19:21] nickymarino commented on #119
Hi @geekquad! I'd like to work on the Non Recursive Segment Tree algorithm if possible

[2020-10-03 19:23] geekquad commented on #119
Assigning Non-Recursive Segment Tree to @nickymarino.

[2020-10-03 19:35] ArunKumar-25 commented on #183
@geekquad "magic square is a square matrix, whose order is odd and where the sum of the elements for each row or each column or each diagonal is same"
in this issue I will implement a magic square. after this may be work on some application on magic square as checking a matrix is magic square or not.

[2020-10-03 19:37] RonLek opened #190 "Algorithms in C++"
I'd be happy to contribute algorithms in C++. @geekquad let me know what you think of starting contributions in C++.

[2020-10-04 04:55] saileshbro commented on #120
@geekquad  CircularLinkedList is marked. Is it completed?

[2020-10-04 05:22] Sowmyasree101 commented on #120
@geekquad  can u assign me with any one left?

[2020-10-04 05:38] Sowmyasree101 commented on #119
@geekquad Can u assign me with any thing left?

[2020-10-04 06:01] Sowmyasree101 commented on #8
@geekquad   I want to work on recursive insertion sort. Can u assign it to me if its still there?

[2020-10-04 06:30] geekquad opened #196 "Maths"

[2020-10-04 06:30] #196 closed

[2020-10-04 06:47] geekquad opened #197 "Maths"
Implementation of the following in Python:

- [ ] Find volumes of various shapes (cube, cuboid, cone, right curcular cone, prism, pyramid, sphere, circular cylinder)

- [ ]  Zellers Congruence Algorithm

- [ ] Ugly numbers

- [ ] Sum of n terms in a Geometric Progression

- [ ] Sum of Digits of a number

- [ ] Sum of n terms in an Arithmetic progression

- [ ] Simpson Rule

- [ ] Segmented Sieve

[2020-10-04 06:48] Siddhant-K-code commented on #190
I wanted to add Sorting & Searching Algorithms in C++

[2020-10-04 06:49] geekquad commented on #120
@saileshbro, no not yet completed but it is assigned to someone.
@Sowmyasree101, heyy! We have more issues now. Please look [here](https://github.com/geekquad/AlgoBook/issues/197).

[2020-10-04 06:50] geekquad commented on #183
Awesome. Please continue. Make sure you merge it in **"python/matrix"**. Thankyou :)

[2020-10-04 06:52] Siddhant-K-code opened #198 "Sorting Algorithms in C++"
- [ ] Bubble Sort
- [ ] Comb Sort
- [ ] Heap Sort
- [ ] Insertion Sort
- [ ] Merge Sort
- [ ] Quick Sort
- [ ] Selection Sort
- [ ] Radix Sort
- [ ] Bucket Sort
- [ ] Counting Sort
- [ ] Gnome Sort

[2020-10-04 06:52] vijay5158 commented on #197
Please assign me :
Sum of digits of a no.
Pythagoras implementation

[2020-10-04 06:52] geekquad commented on #190
@RonLek @Siddhant-K-code awesome guys. Love the spirit.
We are just editing. We will be adding C++ track in a day. Please join us on Slack for any updates. Thankyou :)

[2020-10-04 06:53] geekquad commented on #198
Hey @Siddhant-K-code, thank you for creating the issue. We will be adding C++ track in a day. Thankyou :)

[2020-10-04 06:53] geekquad commented on #197
Assigning Sum of digits of a number and Pythagoras implementation to @vijay5158

[2020-10-04 06:54] Siddhant-K-code commented on #190
Please check this issue #198
I have listed the Sorting Algorithms in C++

[2020-10-04 07:21] Sowmyasree101 commented on #197
@geekquad  can u assign me sum of n terms of a geometric progression?

[2020-10-04 07:26] Siddhant-K-code opened #200 "Searching Algorithms in C++"
- [ ] Binary Search
- [ ] Linear Search
- [ ] Fibonacci Search
- [ ] Ternary Search
- [ ] Hash Search

[2020-10-04 07:27] MAJOR-BEAST commented on #197
Assigning @Sowmyasree101 with sum of n terms of a geometric progression.

[2020-10-04 07:30] Siddhant-K-code opened #201 "Greedy Algorithms in C++"
- [ ] Dijkstra Algorithm
- [ ] Huffman Algorithm

[2020-10-04 08:00] MAJOR-BEAST commented on #201
@Siddhant-K-code , as told earlier, give us some time and wait for the further updates. I'm sorry but I'll have to close all your issues for now. Wait for the right time to contribute.

[2020-10-04 08:00] #201 closed

[2020-10-04 08:00] #200 closed

[2020-10-04 08:01] #198 closed

[2020-10-04 08:15] Sowmyasree101 commented on #197
@geekquad I created pullrequest for the previous problem. Now I want to work on sum of n terms of Arithmetic progression. Can u assign it to me?

[2020-10-04 08:52] jigneshoo7 commented on #197
assignment  me

[2020-10-04 08:53] geekquad commented on #197
Assigning sum of n terms of Arithmetic progression to @Sowmyasree101.

[2020-10-04 08:54] geekquad commented on #197
Hey @jigneshoo7, which one would you like to work on?

[2020-10-04 08:54] jigneshoo7 commented on #190
assignment me

[2020-10-04 09:25] #3 closed

[2020-10-04 09:29] tarishij17 commented on #197
I'd like to work on  Greatest Common Divisor

[2020-10-04 09:35] MAJOR-BEAST commented on #197
Assigning Greatest Common Divisor to @tarishij17

[2020-10-04 10:33] tarishij17 commented on #197
GCD : https://github.com/geekquad/AlgoBook/pull/206

[2020-10-04 10:48] jigneshoo7 commented on #197
Please  assign  me for  Roots for any Quadratic Equation

[2020-10-04 10:55] jigneshoo7 commented on #197
Assign me for  Roots for any Quadratic Equation

[2020-10-04 13:39] Atharv-Joshi commented on #197
@geekquad  can you please assign Least common multiple to me?

[2020-10-04 13:45] geekquad commented on #197
Assigning Roots for any Quadratic Equation to @jigneshoo7
Assigning Least common multiple to @Atharv-Joshi

[2020-10-04 14:00] Atharv-Joshi commented on #197
@geekquad  There is no maths subfolder inside the python folder?

[2020-10-04 14:27] saileshbro commented on #197
@geekquad  assign me
- [ ] Prime Numbers up to N numbers
- [ ] Newton-Raphson method
- [ ] Area under the curve using the trapezoidal rule

[2020-10-04 14:31] jigneshoo7 commented on #197
Ok

On Sun, 4 Oct 2020 7:57 pm Sailesh Dahal, <notifications@github.com> wrote:

[2020-10-04 14:55] Anagha-2000 commented on #197
Hey, can you assign me :
1.  Find volumes of various shapes (cube, cuboid, cone, right circular cone, prism, pyramid, sphere, circular cylinder)
2. Roots for any Quadratic Equation
3.  Prime Numbers up to N numbers

[2020-10-04 17:23] geekquad commented on #197
* Assigning Least common multiple to @Atharv-Joshi.
* Assigning Prime Numbers up to N numbers, Newton-Raphson method, and area under the curve using the trapezoidal rule to @saileshbro.
* Assigning Find volumes of various shapes (cube, cuboid, cone, right circular cone, prism, pyramid, sphere, circular cylinder) to @Anagha-2000. Roots for Quadratic has already been assigned to someone. Please look

[2020-10-04 17:25] Anagha-2000 commented on #197
I would also like to work on ugly numbers

[2020-10-04 17:26] geekquad commented on #197
Assigning Ugly Numbers to @Anagha-2000. Happy Coding :)

[2020-10-04 19:01] #130 closed

[2020-10-04 19:34] pranavkarnani commented on #197
Hey @geekquad assign me jaccard similarity

[2020-10-04 20:32] geekquad commented on #197
Assigning Jaccard similarity to @pranavkarnani. Happy Coding :)

[2020-10-04 20:57] Sowmyasree101 commented on #197
@geekquad can u assign me peterson number

[2020-10-05 02:35] nickymarino commented on #8
@geekquad Please assign me bucket sort if it's still available. Thanks!

[2020-10-05 03:28] Vrok2401 commented on #197
Can you assign me on extended Euclidean algorithm?

[2020-10-05 03:41] jien1103 commented on #119
Hello @geekquad can you assign me Binary Search Tree?

[2020-10-05 09:43] geekquad commented on #197
Assigning Peterson Number to @Sowmyasree101.
Assigning Extended Euclidean Algorithm to @Vrok2401.

[2020-10-05 09:47] geekquad commented on #8
Hey @nickymarino, unfortunately, they are already assigned to someone else. But we have more issues [here](https://github.com/geekquad/AlgoBook/issues/197).

[2020-10-05 09:48] vijay5158 commented on #197
@geekquad Can you assign me Zellers Congruence Algorithm ?

[2020-10-05 10:05] Raghavarora27 commented on #7
can u assign me something???

[2020-10-05 10:07] Raghavarora27 commented on #120
can u assign me something??what all are left @geekquad

[2020-10-05 10:09] geekquad commented on #120
Hey @Raghavarora27, please look [here](https://github.com/geekquad/AlgoBook/issues/197).

[2020-10-05 10:15] geekquad commented on #197
Assigning Zellers Congruence Algorithm and Lucas number using recursion  to @vijay5158

[2020-10-05 11:39] jigneshoo7 commented on #197
Can you assign me for Simpson Rule

 Segmented Sieve

[2020-10-05 12:02] #184 closed

[2020-10-05 13:01] geekquad commented on #197
Assigning Simpson Rule and Segmented Sieve to @jigneshoo7

[2020-10-06 10:18] Iampradeepkundra commented on #197
can you assign me Bailey-Borwein-Plouffe (BBP) Implementation?

[2020-10-06 10:40] jigneshoo7 commented on #197
Can you assign me for  Jaccard similarity?

[2020-10-06 13:47] geekquad commented on #197
Assigning  Bailey-Borwein-Plouffe (BBP) to @Iampradeepkundra.
Assigning  Jaccard similarity to @jigneshoo7.

[2020-10-06 17:29] gpriya32 commented on #190
I wanted to add some graph traversal, sorting & Searching Algorithms in C++(optimizedone)

[2020-10-06 17:33] gpriya32 commented on #16
Hey, i can work on AO* algo. You didn't mention it. .But I can implement it

[2020-10-06 18:29] pranavkarnani commented on #197
@geekquad I was already assigned jaccard similarity and I have already made a up;l request for the same

[2020-10-06 18:32] geekquad commented on #197
Sorry for the confusion. Yes @pranavkarnani,  Jaccard similarity stays with you.

[2020-10-07 06:23] geekquad opened #237 "Searching Algorithms in CPP"
- [x] ~~Linear Search~~

- [x] ~~Binary Search~~

- [x] Bilinear Search (Improvised version of Linear Search)

- [x] ~~Breadth-First Search~~

- [x] ~~Depth First Search~~

- [x] ~~Exponential Search~~

- [x] ~~Interpolation Search~~

- [x] Z Algorithm

- [x] ~~Fibonacci Search~~

- [x] ~~Jump Search~~

- [x] ~~Ternary Search~~

- [x] ~~Sublist Search~~

- [x] ~~Hash Search~~

[2020-10-07 06:27] geekquad opened #238 "Sorting Algorithms in Cpp"
- [x] Insertion Sort

- [x] Selection Sort

- [x] Bubble Sort

- [x] Heap Sort

- [x] Quick Sort

- [x] Radix Sort

- [x] Merge Sort

- [x] Wiggle sort

- [x] Tree sort

- [x] Shell sort

- [x] Tim sort

- [ ] Stooge sort

- [x] Recursive Quick Sort

- [x] Recursive Insertion Sort

- [x] Recursive Bubble Sort

- [x] Random Pivot Quick Sort

- [x] Bead Sort

- [ ] Bitonic Sort

- [x] Bogo Sort

- [

[2020-10-07 06:32] geekquad commented on #16
Sure @gpriya32, go ahead!

[2020-10-07 06:38] geekquad opened #239 "Perceptrons"
Implementations of the following:

- [ ] Perceptron

- [ ] Perceptron as AND operator

- [ ] Perceptron as NAND operator

- [ ] Perceptron as NOR operator

- [ ] Perceptron as NOT operator

- [ ] Perceptron as OR operator

- [ ] Perceptron as XNOR operator

- [ ] Perceptron as XOR operator

- [ ] Softmax function

- [ ] ReLU function

[2020-10-07 06:39] #183 closed

[2020-10-07 06:45] friskycodeur commented on #239
@geekquad Can you assign me Softmax function, ReLU function, Perceptron, and Perceptron as AND operator! Thanks.

[2020-10-07 06:46] ArunKumar-25 commented on #238
@geekquad i would like to work on Insertion Sort, Selection Sort, Bubble Sort, Quick Sort assign this to me

[2020-10-07 06:47] geekquad commented on #239
Assigning

- [x] Softmax Function

- [x] ReLU Function

- [x] Perceptron

- [x]  Perceptron as AND operator

to @friskycodeur.

[2020-10-07 06:50] ArunKumar-25 commented on #237
@geekquad assign me Linear search and Binary search. Thanks:)

[2020-10-07 06:52] rudrakshi99 commented on #238
Hey @geekquad, Please assign me Insertion sort, selection sort, and bubble sort.

[2020-10-07 06:52] geekquad commented on #237
Assigning Linear search and Binary search to @ArunKumar-25

[2020-10-07 06:53] rudrakshi99 commented on #237
Hey @geekquad, Please assign me Breadth-First Search and Depth First Search.

[2020-10-07 06:56] geekquad commented on #237
Assigning Breadth-First Search and Depth First Search to @rudrakshi99. .

[2020-10-07 07:25] gpriya32 commented on #16
@geekquad check #240 ao*_algorithm commit.

[2020-10-07 07:55] jigneshoo7 commented on #238
Please assign me for  external sort, Cycle Sort

[2020-10-07 08:04] Iampradeepkundra commented on #239
can you assign me Perceptron as NOT operator, Perceptron as OR operator

[2020-10-07 08:05] geekquad commented on #238
Assigning  Insertion Sort, Selection Sort, Bubble Sort, and Quick Sort to @ArunKumar-25.
Assigning Merge Sort to @rudrakshi99.
Assigning External sort and Cycle Sort to @jigneshoo7.

[2020-10-07 08:13] Iampradeepkundra commented on #238
can you assign me  Bucket Sort, Cocktail Shaker Sort, Comb Sort, Pigeon Sort, Pancake Sort!

[2020-10-07 08:35] srishtipoudel commented on #237
Hey @geekquad  , I want to work on Fibonacci Search

[2020-10-07 08:39] akash22022 commented on #239
Assign me perceptron as NAND operator

[2020-10-07 08:44] Iampradeepkundra commented on #237
can you assign me hash search and sublist search!

[2020-10-07 08:48] sarthakregmi commented on #237
Hello @geekquad , I want to work on Z algorithm.

[2020-10-07 09:56] geekquad commented on #237
Assigning Fibonacci Search to @srishtipoudel.
Assigning hash search and sublist search to @Iampradeepkundra.
Assigning Z algorithm to @sarthakregmi.

[2020-10-07 09:57] geekquad commented on #239
Assigning Perceptron as NOT operator and OR operator to @Iampradeepkundra.
Assigning Perceptron as NAND and NOR operator to @akash22022.

[2020-10-07 09:58] geekquad commented on #238
Assigning Bucket Sort and Cocktail Shaker Sort to @Iampradeepkundra.

[2020-10-07 10:27] Kamesh-Mishra commented on #8
I would like to contribute Wiggle sort , Counting sort, Strand sort, Topological sort and Pigeonhole sort, @geekquad could you please assign me.

[2020-10-07 10:30] abhinand5 commented on #239
I am interested in solving these,
* Perceptron as XNOR operator
* Perceptron as XOR operator

Can you assign me?

[2020-10-07 11:25] Kamesh-Mishra commented on #197
I would like to contribute Runge kutta implementation, @geekquad could you you please assign me.

[2020-10-07 11:33] Kamesh-Mishra commented on #8
I would like to contribute Counting sort and Strand sort, @geekquad could you please assign me!!

[2020-10-07 12:10] Anagha-2000 commented on #238
hey, can you assign me: recursive bubble sort, recursive quicksort, recursive insertion sort @geekquad

[2020-10-07 13:06] geekquad commented on #239
Assigning Perceptron as NOT operator and OR operator to @abhinand5.

[2020-10-07 13:42] geekquad commented on #238
Assigning recursive bubble sort, recursive quicksort, and recursive insertion sort to @Anagha-2000

[2020-10-07 15:38] Kamesh-Mishra opened #249 "I would like to contribute Runge kutta implementation, @geekquad could you you please assign me."
I would like to contribute Runge kutta implementation, @geekquad could you you please assign me.

_Originally posted by @Kamesh-Mishra in https://github.com/geekquad/AlgoBook/issues/197#issuecomment-704871078_

[2020-10-07 15:52] geekquad commented on #249
Hey @Kamesh-Mishra, is it the 4th order implementation?

[2020-10-07 16:07] #249 closed

[2020-10-07 18:05] ayangbori7 commented on #238
I would really like to work on Merge Sort...i will add meaningful comments so that beginners will understand it easily.

[2020-10-08 13:00] geekquad commented on #238
Hey @ayangbori7, merge sort is already taken. Assigning Heap Sort and Radix Sort to you. Thankyou :)

[2020-10-10 12:03] iamKushagra commented on #238
Assign tree sort to me.

[2020-10-10 13:09] kritikaparmar-programmer commented on #238
Please assign shell sort to me @geekquad

[2020-10-10 13:12] kritikaparmar-programmer commented on #8
Hey @geekquad please assign me recursive quick sort

[2020-10-10 14:06] geekquad commented on #238
Assigning Tree Sort to @iamKushagra.
Assigning Shell Sort to @kritikaparmar-programmer.

[2020-10-10 17:09] iamKushagra commented on #238
Also, assign Wiggle Sort to me @geekquad

[2020-10-10 17:50] geekquad commented on #238
Assigning Wiggle Sort to @iamKushagra.

[2020-10-11 05:50] iamKushagra commented on #238
Assign me Bogo, Bead, and Comb Sort

[2020-10-11 09:49] aishnayak commented on #238
hey plz assign me insertion and bubble sort

[2020-10-11 10:17] geekquad commented on #238
Assigning Bogo, Bead, and Comb Sort to @iamKushagra

[2020-10-11 10:18] aishnayak commented on #238
asign me pegion and pancake sort

[2020-10-11 10:19] geekquad commented on #238
Assigning Pigeon and pancake sort to @aishnayak.

[2020-10-11 14:58] #185 closed

[2020-10-11 20:12] #142 closed

[2020-10-11 20:12] #190 closed

[2020-10-11 20:12] geekquad commented on #96
Hey @rocketrunner22, we have added the track. Do check it out. Thankyou :)

[2020-10-11 20:12] #96 closed

[2020-10-11 20:15] geekquad commented on #8
Assigning @Kamesh-Mishra with Counting sort and Strand sort.
Assigning @kritikaparmar-programmer with Recursive quick sort.

[2020-10-12 03:17] Vrok2401 commented on #238
Can you assign me on Gnome sort?

[2020-10-12 13:56] ishneet890 commented on #238
Assign me bubble sort @geekquad

[2020-10-12 17:03] geekquad commented on #238
* Assigning Genome sort to @Vrok2401.

* Hey @ishneet890, Bubble sort is already taken by someone else. Please see if you can contribute to something else.

[2020-10-12 19:45] Kamesh-Mishra commented on #8
#Added Counting Sort #287

[2020-10-12 19:48] Kamesh-Mishra commented on #8
#287

[2020-10-12 19:48] Kamesh-Mishra commented on #8
#287

[2020-10-13 03:17] iamKushagra commented on #237
Assign me interpolation, ternary and exponential search.

[2020-10-13 06:51] geekquad commented on #239
Assigning Perceptron as XNOR operator and XOR operator to @Iampradeepkundra.

[2020-10-13 06:52] geekquad commented on #237
Assigning interpolation, ternary, and exponential search to @iamKushagra.

[2020-10-14 06:06] kritikaparmar-programmer commented on #238
Hey @geekquad  Please assign Random Pivot Quick sort to me.

[2020-10-14 07:59] JaniniRami07 commented on #119
Hey @geekquad , can you assign me Lazy Segment Tree?

[2020-10-14 10:15] geekquad commented on #238
Assigning  Random Pivot Quicksort to @kritikaparmar-programmer

[2020-10-14 13:38] adi-mohan commented on #8
Hi! Please assign me Recursive Insertion Sort.

[2020-10-14 13:42] ajyan commented on #119
@geekquad can you assign me to AVL tree?

[2020-10-15 08:47] geekquad opened #300 "Binary Tree"
Implementation of the following in Cpp:

- [ ] AVL Tree

- [ ] Basic Binary Tree

- [ ] Binary Search Tree

- [ ] Binary Tree traversal

- [ ] Recursive Binary Search Tree

- [ ] Lazy Segment Tree

- [ ] Fenwick Tree

- [ ] Non Recursive Segment Tree

- [ ] Red-Black Tree

[2020-10-15 08:48] geekquad commented on #119
Hey @jien1103, @JaniniRami07 and @ajyan, I am sorry but these issues have already been assigned to someone else.
But we have more [here](https://github.com/geekquad/AlgoBook/issues). Please see that if you guys can contribute to soemthing else. Thankyou :)

[2020-10-15 08:49] geekquad commented on #8
Assigning Recursive Insertion Sort to @adi-mohan.

[2020-10-15 09:01] JaniniRami07 commented on #197
I would like to contribute QR-decomposition of the matrix A using Householder reflection, can you assign me!

[2020-10-15 10:18] Iampradeepkundra commented on #300
Assign me binary search tree and binary tree traversal

[2020-10-15 10:33] Kamesh-Mishra opened #303 "Scheduling Algorithms in Python"
scheduling algorithms used in operating system like First come first served (FCFS), shortest job first (SJF), Priority Scheduling

[2020-10-15 10:41] Kamesh-Mishra commented on #303
I would like to contribute

could you please assign me @geekquad

[2020-10-15 15:17] Vrok2401 commented on #8
I was assigned to Gnome sort in CPP but I pushed the algorithm in Python instead. You can assign me on Gnome sort here if you wish.

[2020-10-15 19:29] #76 closed

[2020-10-16 09:49] Its-Puja-Singh commented on #300
Assign me the AVL Tree, Basic Binary Tree and, Recursive Binary Search Tree

[2020-10-16 17:50] geekquad commented on #197
Assigning QR-decomposition to @JaniniRami07.

[2020-10-16 17:52] geekquad commented on #300
Assigning Binary Search Tree and Binary Tree Traversal to @Iampradeepkundra.
Assigning  AVL Tree, Basic Binary Tree and, Recursive Binary Search Tree to @Its-Puja-Singh

[2020-10-16 18:03] geekquad commented on #8
Hey @Vrok2401, it is okay. Since you have already pushed it and the code has been merged I have omitted it. Thankyou.

[2020-10-16 18:12] geekquad commented on #8
Hey @nickymarino, Bucket Sort is available. Let me know if you would like to work on it. Thankyou.

[2020-10-16 18:19] aniketprasadgit commented on #300
I want to work here !

[2020-10-16 18:20] nickymarino commented on #8
@geekquad I can do it!

[2020-10-16 18:22] geekquad commented on #8
Awesome. Assigning Bucket Sort to @nickymarino.

[2020-10-16 18:23] geekquad commented on #300
Assigning Lazy Segment Tree, Fenwick Tree, and Non-Recursive Segment Tree to @aniketprasadgit.

[2020-10-17 09:00] Its-Puja-Singh commented on #8
Assign me cycle sort

[2020-10-17 12:29] geekquad commented on #8
Assigning Cycle Sort to @Its-Puja-Singh

[2020-10-17 19:01] aniketprasadgit commented on #300
I want to work here on  **Red-Black Tree** please assign to me if possible.

[2020-10-18 07:41] DasithEdirisinghe commented on #20
@geekquad
Can you assign me to inverse of matrix

[2020-10-18 18:19] Aarti002 commented on #7
@geekquad can i do Fibonacci Search in python?

[2020-10-18 18:32] Aarti002 commented on #197
hello @geekquad can you assign lowest common factor and greatest common divisor of two numbers to me i would use python

[2020-10-18 18:35] Aarti002 commented on #197
@geekquad  can i  take ugly numbers and Sum of n terms in a Geometric Progression too ?
I'm gonna use python for this all problems.

[2020-10-18 19:39] geekquad commented on #20
Hey @DasithEdirisinghe, Inverse of a matrix is already assigned to someone else. But we have more issues [here](https://github.com/geekquad/AlgoBook/issues/238). Please see if you can contribute to something else. Thankyou.

[2020-10-18 19:41] geekquad commented on #197
Hey @Aarti002, all the issues here have been assigned to someone. But we have more [here](https://github.com/geekquad/AlgoBook/issues/238). Please see that if you can contribute to something else. Thankyou.

[2020-10-18 19:52] Aarti002 commented on #238
@geekquad can i take double sort i will use python

[2020-10-18 19:54] Aarti002 commented on #238
if it is already assigned to someone then i will go with Tim sort and quick sort in python , is this fine? @geekquad

[2020-10-18 19:57] geekquad commented on #238
Hey @Aarti002, I am sorry but these codes should be implemented in C++. If you want to contribute using the Python language please go [here](https://github.com/geekquad/AlgoBook/tree/master/python) and see if there is something missing and you would like to contribute. Please contact me on Slack for any queries. Thank you.
Let me know if you need these issues in Cpp. Thankyou.

[2020-10-18 20:09] Aarti002 commented on #238
No problem i can also use cpp , now can i take all this issues? @geekquad

[2020-10-18 20:17] geekquad commented on #238
Assigning Double and Tim sort to @Aarti002.
Quick Sort is already up with someone but we have more. Ask for others as well if you want to. Thankyou.

[2020-10-18 20:34] geekquad commented on #6
Hey @bera5186, it's been quite a while. Are you willing to complete the tasks assigned to you or should we unassign you? Please do let me know. Thankyou.

[2020-10-19 01:33] bera5186 commented on #6
@geekquad Just 2 More Days !! I won't Disappoint you !!

[2020-10-19 12:23] geekquad commented on #6
No issues @bera5186. Take your time :)

[2020-10-19 14:00] DasithEdirisinghe commented on #303
@geekquad I also prefer on CPU scheduling algorithms.If you could please assign me

[2020-10-21 02:36] bera5186 commented on #238
@geekquad assign bitonic sort to me! I have made a pull request for all the previously assigned tasks! Thanks ;)

[2020-10-22 13:23] bera5186 commented on #238
???

[2020-10-22 18:42] geekquad commented on #238
Assigning bitonic sort to @bera5186.

[2020-10-22 18:43] geekquad commented on #303
Yes, @DasithEdirisinghe. Go ahead.

[2020-10-27 14:42] SoumyaMalgonde opened #352 "Algorithms in Go language"
Contribute various algorithms implemented in Go.

[2020-10-27 14:43] SoumyaMalgonde commented on #352
Can I contribute to this?

[2020-10-27 14:46] geekquad commented on #352
Sure @SoumyaMalgonde. Go ahead. Happy Coding :)

[2020-10-28 14:34] Mansi145 commented on #16
Hey @geekquad, can you assign Steiner Tree, Boruvka’s algorithm and Karp’s minimum mean weight cycle algorithm to me? I'd like to work on these.

[2020-10-28 14:36] geekquad commented on #16
Assigning Steiner Tree, Boruvka’s algorithm, and Karp’s minimum mean weight cycle algorithm to @Mansi145.

[2020-10-28 17:21] #16 closed

[2020-10-28 17:49] Mansi145 commented on #237
Hey @geekquad, I'd like to work on the interpolation search algorithm. Is the issue open for work?

[2020-10-28 17:54] Mansi145 commented on #238
Hey, @geekquad, I'd like to work on the Gnome Sort Algorithm. Is the issue open for working?

[2020-10-28 17:56] Mansi145 commented on #238
Hey @geekquad, I'd like to work on the Stooge Sorting Algorithm. Is the issue open for contribution?

[2020-10-28 17:59] geekquad commented on #238
Assigning Stooge Sorting Algorithm to @Mansi145.

[2020-10-28 18:01] #238 closed

[2020-10-30 14:15] bera5186 commented on #352
@geekquad I would also like to contribute to this !! Can I ?

[2020-11-08 15:00] anands97 commented on #61
Can I work on rabin karp algorithm in Python? I can do in Cpp as well.

[2020-12-01 10:36] #303 closed

[2020-12-06 07:17] amoghatsunil commented on #6
@geekquad  can i please do apriori?

[2020-12-06 07:19] amoghatsunil commented on #7
@geekquad can i do Fibonacci search or A* in python?

[2020-12-06 10:52] AmanSingh0-0 commented on #237
Assign me to work on Bilinear Search

[2020-12-06 10:56] AmanSingh0-0 commented on #352
I would also like to contribute

[2020-12-06 15:27] geekquad commented on #6
Hey @amoghatsunil, apriori is already implemented. Adding more issues soon. Join the Slack channel for updates. Thankyou :)

[2020-12-06 15:27] #6 closed

[2020-12-06 15:29] geekquad commented on #7
Sure @amoghatsunil. Go ahead.

[2020-12-06 15:30] geekquad commented on #237
Assigning @AmanSingh0-0 with the same.

[2020-12-06 15:36] geekquad opened #363 "CNN Architectures"
Implementation of the following CNN Architectures:

- [ ] LeNet5

- [ ] AlexNet

- [x] ~~VGG~~

- [ ] ResNets

- [ ] Inception

- [ ] FCN

- [ ] UNet

Should be pushed into dl folder with **respective folder name** along with **requirements.txt** file.

[2020-12-06 15:43] geekquad opened #364 "RNN Architecture"
Implementation of the following RNN Architectures:

- [ ] RNN

- [ ] LSTM

- [ ] GRU

Should be pushed into dl folder with **respective folder name** along with **requirements.txt** file.

[2020-12-06 16:54] Saptashrungi commented on #363
Do we have to implement these architectures in pure python?

[2020-12-06 16:59] geekquad commented on #363
Hey @Saptashrungi, I am sorry. Didn't get you. Pure python as in?

[2020-12-06 17:08] #33 closed

[2020-12-06 17:10] geekquad commented on #61
Hey @anands97, sorry for the delay. It is up for grab for python as of now. Do let me know if you want to work on the issue.

[2020-12-06 17:10] #120 closed

[2020-12-06 19:35] geekquad opened #365 "Maths CPP"
Implementation of the following in C++:

- [ ] Find volumes of various shapes (cube, cuboid, cone, right circular cone, prism, pyramid, sphere, circular cylinder)

- [ ]  Zellers Congruence Algorithm

- [ ] Ugly numbers

- [ ] Sum of n terms in a Geometric Progression

- [ ] Sum of Digits of a number

- [ ] Sum of n terms in an Arithmetic progression~~

- [ ] Simpson Rule

- [ ] Segmented Sieve

-

[2020-12-06 19:48] geekquad opened #366 "Sorting in GO"
Implementation of the following Sorting Algorithms in GoLang:

- [x] ~~Bubble Sort~~

- [ ] Heap Sort

- [x] ~~Insertion Sort~~

- [ ] Merge Sort

- [ ] Quick Sort

- [ ] Radix Sort

- [ ] Selection Sort

- [ ] Topological Sort

- [ ] Double Sort

- [ ] Pigeon Sort

- [ ] Pancake Sort

- [ ] Gnome Sort

- [x] ~~Bogo Sort~~

- [ ] Bitonic Sort

- [ ] Comb Sort

- [ ] Bead Sort

Needs to be merged i

[2020-12-06 19:49] geekquad commented on #352
Sure @AmanSingh0-0.
Check this out: [Sorting Algorithms in GO](https://github.com/geekquad/AlgoBook/issues/366)

[2020-12-06 19:49] #352 closed

[2020-12-06 19:51] #119 closed

[2020-12-07 00:51] AmanSingh0-0 commented on #366
Assign me Heap, Merge, Quick and Selection Sort

[2020-12-07 01:16] AmanSingh0-0 commented on #363
Assign LeNet5 to me

[2020-12-07 05:29] LakhanMardi commented on #364
Hey can i work on this using keras framework?

[2020-12-07 05:31] LakhanMardi commented on #365
Can i work on this?

[2020-12-07 06:32] mustang519 commented on #365
I would like to work in this. Please assign some of the above problems.

[2020-12-07 06:35] Vrindagupta6828 opened #372 "N Queen's Problem of Backtracking"
We can create a new folder of backtracking and add N queen's problem as of now.

[2020-12-07 06:35] kritikaparmar-programmer commented on #364
Hey, @geekquad I want to work on RNN architecture.

[2020-12-07 06:46] geekquad commented on #372
Hey @Vrindagupta6828, in which language would you like to implement?

[2020-12-07 06:46] geekquad commented on #366
Assigning Heap, Merge, Quick, and Selection Sort to @AmanSingh0-0

[2020-12-07 06:48] geekquad commented on #365
Hey @LakhanMardi and @mustang519, please be specific. Which problems would you like to work on?

[2020-12-07 06:48] Vrindagupta6828 commented on #372
@geekquad I can implement it in java, Python, c++

[2020-12-07 06:48] Vrindagupta6828 commented on #372
I would like to do it as part of kwoc

[2020-12-07 06:49] geekquad commented on #364
Sure @LakhanMardi. Assigning LSTM network to you. Make sure to add a requirements.txt file as well in the respective folder.

Assigning RNN architecture to @kritikaparmar-programmer.

[2020-12-07 06:50] geekquad commented on #363
Assigning LeNet5 to @AmanSingh0-0. Make sure to add a requirements.txt file as well in the respective folder.

[2020-12-07 06:55] geekquad opened #373 "Backtracking Problems in Python"
Implementation of the following in Python:

- [x] The Knight’s tour problem

- [x] Rat in a Maze

- [x] N Queen Problem

- [x] Subset Sum

- [x] m Coloring Problem

- [x] Hamiltonian Cycle

- [x] ~~Magnet Puzzle~~

To be merged in **"python/backtracking"** folder.

[2020-12-07 06:56] geekquad opened #374 "Backtracking Problems in Cpp"
Implementation of the following in Cpp:

- [x] ~~The Knight’s tour problem~~

- [x] ~~Rat in a Maze~~

- [x] ~~N Queen Problem~~

- [x] ~~Subset Sum~~

- [x] ~~m Coloring Problem~~

- [x] ~~Hamiltonian Cycle~~

- [x] ~~Magnet Puzzle~~

To be merged in **"cpp/backtracking"** folder.

[2020-12-07 06:58] geekquad commented on #372
Thankyou @Vrindagupta6828, Created an issue for the same. Please check:

- [ ] [Cpp](https://github.com/geekquad/AlgoBook/issues/374)

- [ ] [Python](https://github.com/geekquad/AlgoBook/issues/373)

[2020-12-07 06:58] #372 closed

[2020-12-07 07:03] Vrindagupta6828 commented on #373
@geekquad  Please assign this to me .
I want to add N Queen's problem, Rat in a Maze.

[2020-12-07 07:04] Vrindagupta6828 commented on #374
@geekquad Please assign this to me.
I want to add Rat in a maze and N Queen's problem

[2020-12-07 07:15] geekquad commented on #374
Assigning you with the same @Vrindagupta6828.

[2020-12-07 07:16] geekquad commented on #373
Sure @Vrindagupta6828. Go ahead.

[2020-12-07 07:25] pranshulnarang commented on #363
Hi,i would like to work on AlexNet
please assign Alexnet to me

[2020-12-07 07:28] geekquad commented on #363
Assigning AlexNet to @pranshulnarang.

[2020-12-07 07:32] pranav-khandka commented on #365
kindly assign Sum of n terms in an Arithmetic progression to me

[2020-12-07 07:34] geekquad commented on #365
Assigning um of n terms in an Arithmetic progression to @pranav-khandka.

[2020-12-07 07:39] mustang519 commented on #365
Please kindly assign Sum of digits of a number , volumes of various shapes , LCM of 2 numbers to me.

[2020-12-07 08:07] srirupa19 commented on #124
Can you assign me Job Sequencing Problem? @geekquad

[2020-12-07 08:14] itish-agarwal commented on #365
Hi, can I work on Ugly numbers, Sum of n terms of a gemetric progression, Segmented sieve, Roots for any quadratic equation, Lucas Sequence using recursion and Peterson number

[2020-12-07 08:24] itish-agarwal commented on #374
@geekquad please assign this to me
I want to work on  The Knight's tour problem, Subset sum, and m Coloring problem

[2020-12-07 08:27] Vrindagupta6828 commented on #374
Can you please assign me hamilton cycle as well

[2020-12-07 08:27] geekquad commented on #374
Assigning The Knight's tour problem, Subset-sum, and m Coloring problem to @itish-agarwal.
Assigning Hamiltonian Cycle to @Vrindagupta6828.

[2020-12-07 08:28] geekquad commented on #124
Assigning Job Sequencing Problem to @srirupa19.

[2020-12-07 08:29] Vrindagupta6828 commented on #373
I would like to add hamilton cycle and m coloring problem in this too

[2020-12-07 08:31] geekquad commented on #373
Hey @Vrindagupta6828, you want to work on these two as well?

[2020-12-07 08:32] Vrindagupta6828 commented on #373
Yes

[2020-12-07 08:34] geekquad commented on #373
Assigning you with hamilton cycle and m coloring problem @Vrindagupta6828.

[2020-12-07 08:37] geekquad opened #375 "Dimensionality Reduction Algorithms"
Implementation of the following:

- [ ] Principal Component Analysis (PCA)

- [ ] Principal Component Regression (PCR)

- [ ] Partial Least Squares Regression (PLSR)

- [ ] Sammon Mapping

- [ ] Multidimensional Scaling (MDS)

- [ ] Projection Pursuit

- [ ] Linear Discriminant Analysis (LDA)

- [ ] Mixture Discriminant Analysis (MDA)

- [ ] Quadratic Discriminant Analysis (QDA)

- [ ] Flexible Di

[2020-12-07 08:42] geekquad opened #376 "Bayesian Algorithms"
Implementation of the following:

- [x] Naive Bayes

- [ ] Gaussian Naive Bayes

- [ ] Multinomial Naive Bayes

- [ ] Averaged One-Dependence Estimators (AODE)

- [ ] Bayesian Belief Network (BBN)

- [ ] Bayesian Network (BN)

Needs to be merged in [Bayesian Algorithms](https://github.com/geekquad/AlgoBook/tree/master/ml/Bayesian%20Algorithms/) folder.

[2020-12-07 08:48] Aarushi11H commented on #374
Hey!
I'd like to take Magnet Puzzle problem

[2020-12-07 08:50] Aarushi11H commented on #237
Assign me to work on Z algorithm

[2020-12-07 08:55] Aarushi11H commented on #365
Hey!
Please assign me Greatest common divisor and Extended Euclidean algorithm.

[2020-12-07 09:13] anushkasinghal11 commented on #365
I would like to work on Peterson number and Pythagoras implementation. Could you please assign it to me?

[2020-12-07 09:41] preyam2002 commented on #365
I have solved some of these, please checkout my Pull Request

[2020-12-07 10:46] Raghibshams456 commented on #376
@geekquad I want to work on this please assign it to me..

[2020-12-07 11:59] geekquad commented on #376
Hey @Raghibshams456, which one would you like to work on?

[2020-12-07 11:59] geekquad commented on #374
Assigning Magnet Puzzle problem to @Aarushi11H.

[2020-12-07 12:04] geekquad commented on #365
* Assigning Sum of digits of a number, volumes of various shapes, and LCM of 2 numbers to @mustang519.
* Assigning  Ugly numbers, Sum of n terms of a geometric progression, Segmented sieve, Roots for any quadratic equation, Lucas Sequence using recursion to @itish-agarwal.
* Assigning Greatest common divisor and Extended Euclidean algorithm to @Aarushi11H.
* Assigning Peterson number and Pythagora

[2020-12-07 12:06] verma-shivani commented on #373
Please may I work on subset sum.

[2020-12-07 12:07] geekquad commented on #237
Assigning Z algorithm to @Aarushi11H.

[2020-12-07 12:07] geekquad commented on #373
Assigning Subset Sum to @verma-shivani.

[2020-12-07 12:11] Raghibshams456 commented on #376
On Gaussian Naive Bayes and Multinomial Naive Bayes...

[2020-12-07 12:12] geekquad commented on #376
Assigning Gaussian Naive Bayes and Multinomial Naive Bayes to @Raghibshams456.

[2020-12-07 12:17] v-malwade commented on #365
Can I work on Zellers Congruence Algorithm?

[2020-12-07 12:18] geekquad commented on #365
Assigning Zellers Congruence Algorithm to @v-malwade.

[2020-12-07 13:30] v-malwade commented on #365
I have added a pull request for the Zellers Congruence Algorithm; please check it.

[2020-12-07 13:36] preyam2002 commented on #365
Can you assign the prime numbers one and the newton-raphson method to me?

[2020-12-07 13:38] preyam2002 commented on #300
I would like to work on fenwick tree

[2020-12-07 13:40] Raghibshams456 commented on #376
@geekquad  I think Gaussian Naive Bayes is already done by using wine dataset??

[2020-12-07 13:59] pratyush25 commented on #197
@geekquad Hi, are contributions for calculations of the volume of various shapes open ?

[2020-12-07 14:00] belikesayantan opened #381 "Graph Algo in GO"
Implementation of the following Graph Algorithms in Golang:

- [ ] Breadth First Search

- [ ] Depth First Search

- [ ] Cycle Detection in DAG (Directed Acyclic Graph)

- [ ] Prim's Algorithm

- [ ] Kruskal's Algorithm

- [ ] Bellman Ford Algorithm

- [ ] Floyd Warshall Algorithm

- [ ] Dijkstra Algorithm

- [ ] Johnson Algorithm

- [ ] Ford-Fulkerson Algorithm (The Maximum Flow Problem)

Needs t

[2020-12-07 14:04] pratyush25 commented on #197
@geekquad  could you please inform the topics which are open for contributions ?

[2020-12-07 14:05] Aarushi11H commented on #300
hey!
I would like to work on Recursive Binary Search Tree

[2020-12-07 14:08] belikesayantan commented on #381
@geekquad assign the following to me :
- Prim's Algorithm
- Kruskal's Algorithm
- Dijkstra's Algorithm

[2020-12-07 14:14] 130sayan commented on #365
@geekquad please assign the problem prime numbers upto N numbers to me.

[2020-12-07 14:19] srirupa19 commented on #61
@geekquad, can I work on Robin Karp algorithm in Python?

[2020-12-07 14:22] Abhi-Kmr2046 commented on #375
Can I work on LDA and PCA?

[2020-12-07 14:26] Abhi-Kmr2046 commented on #20
Please assign me "nth Fibonacci number using matrix exponentiation".

[2020-12-07 14:30] Abhi-Kmr2046 commented on #300
I would like to work on all of them. Please assign me whichever is not taken.

[2020-12-07 14:44] geekquad commented on #375
Assigning LDA and PCA to @Abhi-Kmr2046.

[2020-12-07 14:52] geekquad commented on #376
Hey @Raghibshams456, sorry I didn't get you. I have assigned these to you.
If you feel any difficulty please reach out to me on our Slack channel.

[2020-12-07 15:06] geekquad commented on #365
Hey @v-malwade, PRs made will be reviewed. You don't have to comment for the same. Thanks.

Assigning Prime Numbers upto N and Newton-Raphson method to @preyam2002.

Sorry @130sayan, issues are first come first serve. Someone asked it before you. But we gave plenty more. Feel free to ask for them. :)

[2020-12-07 15:07] geekquad commented on #20
Assigning nth Fibonacci number using matrix exponentiation to @Abhi-Kmr2046

[2020-12-07 15:08] geekquad commented on #61
Assigning Rabin-Karp for String Matching to @srirupa19.

[2020-12-07 15:10] geekquad commented on #197
Hey @pratyush25, I am afraid each issue in this section #197 is already assigned to people.
Please check [here](https://github.com/geekquad/AlgoBook/issues). We have plenty of issues open.

[2020-12-07 15:12] geekquad commented on #300
Assigning Fenwick Tree to @preyam2002.
Assigning Recursive Binary Search Tree to @Aarushi11H.
Assigning AVL tree to @Abhi-Kmr2046.
Assigning Non-Recursive Segment Tree, Red-Black Tree, and Lazy Segment Tree to @Abhi-Kmr2046.

[2020-12-07 15:13] geekquad commented on #300
Assigning Fenwick Tree to @preyam2002.
Assigning Recursive Binary Search Tree to @Aarushi11H.
Assigning AVL tree to @BRJbibhu10.
Assigning Non-Recursive Segment Tree, Red-Black Tree, and Lazy Segment Tree to @Abhi-Kmr2046.

[2020-12-07 16:02] Saptashrungi commented on #363
From scratch, without use of tensorflow and keras

[2020-12-07 16:03] Saptashrungi commented on #363
If they are allowed I would like to work on resnets

[2020-12-07 17:15] A-Pandey20 commented on #375
I would like to work on PCR. Kindly assign it to me.

[2020-12-07 17:25] A-Pandey20 commented on #375
@Abhi-Kmr2046 Can I work on PCA? Since it will be better to work on both PCA and PCR together. Only if it's fine for you.

[2020-12-07 17:27] A-Pandey20 commented on #375
@geekquad I would suggest to add "Recommender Systems" too as an issue. Since, most of the other issues have been already assigned I can contribute towards it.

[2020-12-07 17:30] A-Pandey20 commented on #375
@geekquad  And since I have already asked to assign PCR, I would like to contribute towards PLSR too. Kindly assign that too. Thnx

[2020-12-07 17:36] A-Pandey20 commented on #239
@geekquad kindly assign the remaining Perceptron as XNOR and XOR operator to me. I can contribute towards them.

[2020-12-07 18:26] geekquad commented on #375
Hey @A-Pandey20, assigning PCR and PLSR to you.
We already have a Recommender System. Please check [here](https://github.com/geekquad/AlgoBook/tree/master/ml/Recommender%20System).

[2020-12-07 18:28] geekquad commented on #363
Oh yes. Feel free to use any of the frameworks. Just make sure to add a requiremnts.txt file in the respective folder.
Assigning Resnets to @Saptashrungi.

[2020-12-07 18:28] geekquad commented on #239
Assigning XNOR and XOR perceptron to @A-Pandey20.

[2020-12-07 18:55] #237 closed

[2020-12-07 20:18] Shagufta08 commented on #365
Hey!
I would like to work on Simpson Rule.
Which Simpson rule I have to implement Simpson 1/3 rule or Simpson 3/8 rule?

[2020-12-08 08:14] SounakMandal commented on #373
Hi, I want to work on the magnet puzzle. Can I be assigned the issue?

[2020-12-08 10:34] SambhawDrag commented on #381
@geekquad, I'd like to work on:

-  Floyd Warshall Algorithm
-  Bellman-Ford Algorithm

Please assign them to me.

[2020-12-08 12:18] geekquad commented on #373
Assigning magnet puzzle to @SounakMandal.

[2020-12-08 12:19] geekquad commented on #381
Assigning Floyd Warshall Algorithm and Bellman-Ford Algorithm to @SambhawDrag.

[2020-12-08 13:36] ThePhilosopher37 commented on #365
Hey!
I would like to work on the Zeller's Congruence Algo.

[2020-12-08 15:44] BRJbibhu10 commented on #365
hey @geekquad ...I would like to work on  Area under the curve using the trapezoidal rule

[2020-12-08 17:46] geekquad commented on #365
Hey @Shagufta08, let's do both 😉. Assigning Simpson Rule to you.
Assigning Area under the curve using the trapezoidal rule to @BRJbibhu10.
Hey @ThePhilosopher37, assigning Bailey-Borwein-Plouffe (BBP) Implementation, Jaccard similarity, and QR-decomposition of the matrix A using Householder reflection to you. Do let me know if you want to opt-out of any.

[2020-12-08 17:50] geekquad commented on #365
Hey guys, @BRJbibhu10, @preyam2002, @itish-agarwal, @Shagufta08, @v-malwade, @Aarushi11H, @anushkasinghal11, @ThePhilosopher37, @mustang519, @pranav-khandka, there is some issue. You guys are getting unassigned. Please continue to work on the issue. It will be fixed soon. Apologies!

[2020-12-08 19:01] Abhi-Kmr2046 commented on #373
I want to work on the "The Knight’s tour problem".

[2020-12-09 04:26] maheshvpawar opened #397 "Algorithms in Java"
@geekquad I would be happy to contribute for algorithms in Java. Let me know if you think about it. Thank You!

[2020-12-09 04:47] satyam20-sys commented on #397
I also can contribute in java, please let me know if I can be helpful in anyway Thank you !

[2020-12-09 06:20] geekquad commented on #397
Hey @maheshvpawar and @satyam20-sys, we are not opening any issues for Java yet but we are planning it. I will let you guys know once it is there, Thankyou for bringing it up. :)

[2020-12-09 06:20] #397 closed

[2020-12-09 06:20] geekquad commented on #373
Assigning The Knight’s tour problem to @Abhi-Kmr2046.

[2020-12-09 07:04] pranshulnarang commented on #363
i would like to work on FCN
please assign it to me

[2020-12-09 07:45] hr1shu opened #399 "Add 2 new folders in Python folder"
Just want to add 'RECURSION' and 'TRAVERSAL' codes in the python language under the **python** folder.
**Allow me for further PRs**

[2020-12-09 07:59] geekquad commented on #399
Hey @hr1shum, which algorithms will you implement in each domain?

[2020-12-09 08:02] hr1shu commented on #399
For traversal, I'll be implementing DFS & BFS.
For recursion, Factorial, Fibonacci and one more.
All will be in python language.

[2020-12-09 08:09] hr1shu opened #400 "Want to add an excel file"
The file contains 450+ questions of DSA with direct links to solutions and tutorials. The questions are sorted according to different topics of DSA. It is named as DSA cracker series. Once you solve all the questions, you will cover all the patterns and types of questions and can ace your problem-solving skills.
**I'll love to contribute to all the students like me out there.**

[2020-12-09 08:11] geekquad commented on #400
We are not open to any sort of DSA questions or practice sheets. The aim of this repo is to have implementations of all sorts of algorithms. So we are currently focusing on that.

[2020-12-09 08:11] #400 closed

[2020-12-09 08:12] hr1shu commented on #400
Gotcha, thanks

[2020-12-09 08:13] hr1shu commented on #399
Should I proceed, Sir?

[2020-12-09 08:16] geekquad commented on #399
Hey @hr1shu, please check the code section:
- DFS & BFS are already implemented [here](https://github.com/geekquad/AlgoBook/tree/master/python/searching).
- Fibbonacci [here](https://github.com/geekquad/AlgoBook/tree/master/python/dynamic_programming).
- You can add Fibonacci file but make sure to add it in the **"python/maths"** folder.

[2020-12-09 08:16] geekquad commented on #363
Assigning FCN to @pranshulnarang.

[2020-12-09 08:38] hr1shu commented on #399
I'll be implementing Fibonacci and Factorial in recursion.
The Fibonacci already implemented is in the dynamic programming section.

[2020-12-09 08:39] hr1shu commented on #399
Ok 👍

[2020-12-09 14:04] Iampradeepkundra commented on #366
assign me double, pancake, comb

[2020-12-09 16:19] hr1shu opened #405 "Want to add arrays folder"
Arrays.py
Implementing an array.py
Merge Sorted Arrays.py
Reversing a string.py
These will be the files and their name says all about their content.
All will be in PYTHON

[2020-12-09 16:41] KB539 commented on #20
@geekquad  Please assign me nth fibonacci number using matrix exponentiation.

[2020-12-09 17:06] hr1shu opened #406 "A cheat sheet folder"
A cheat sheet is a quick guide to everything and I have an abundance of cheat sheets of different topics.
For example, Python cheat sheet, Big-O cheat sheet, react cheat sheet, and many more.
You can tell me which topics I would be including.
I'm glad to contribute to your resources.

[2020-12-09 17:23] #399 closed

[2020-12-09 17:24] hr1shu commented on #399
Thanks buddy

[2020-12-09 17:25] manish2202 opened #407 "add a text summarizer"
1. based on extractive text summarization
2. use of cosine similarity where sentences are ranked based on the similarity (zero angle if similar sentences).
3. uses NLTK for tokenizing words/sentences and for removing stopwords (of English language).
4. a frequency table is also created to check the frequency of words.

Here is the text document containing the entire code

[Text Summarizer using NL

[2020-12-09 17:38] manish2202 opened #408 "Adding Iris Plant classification from a given dataset"
1. use of matplotlib and numpy.
2. use of iris plant dataset.
3. use of logistic regression.
4. visual representation.
5. dividing the dataset into training and testing purposes.
[irisml.txt](https://github.com/geekquad/AlgoBook/files/5667663/irisml.txt)

[2020-12-10 09:23] aditkumar72 commented on #61
I can do string hashing in python as well as cpp. Please assign me

[2020-12-10 09:29] aditkumar72 commented on #376
Hey @geekquad I want to work on Bayesian Network (BN) please assign it to me.

[2020-12-10 09:34] geekquad commented on #376
Assigning Bayesian Network (BN) to @aditkumar72.

[2020-12-10 09:36] geekquad commented on #61
Assigning String Hashing to @aditkumar72. For cpp please go to the specific issue and ask for assignment there itself. Thankyou.

[2020-12-10 11:19] aditkumar72 commented on #61
Added String Hashing Algorithm #409

[2020-12-10 14:31] geekquad commented on #408
Hey, @manish2202. As you can see we are implementing various algorithms here. And logistic regression is already implemented. Please refer to the codebase. If we have missed any algorithm and you would like to implement the same, then you are most welcome. Thankyou :)

[2020-12-10 14:31] #408 closed

[2020-12-10 14:33] geekquad commented on #407
Hey @manish2202, try to make a pipeline of the code. I will review it and ask for necessary changes if needed. Add a requirements.txt file as well.

[2020-12-10 15:41] geekquad opened #411 "Graph Algos in Cpp"
Implementation of the following Graph Algorithms in Golang:

- [x] Breadth-First Search

- [x] Depth First Search

- [ ] Cycle Detection in DAG (Directed Acyclic Graph)

- [ ] Prim's Algorithm

- [ ] Kruskal's Algorithm

- [ ] Bellman-Ford Algorithm

- [ ] Floyd Warshall Algorithm

- [ ] Dijkstra Algorithm

- [ ] Johnson Algorithm

- [ ] Kosaraju's Algorithm

- [ ] Tarjans Algorithm

- [ ] Ford-Fu

[2020-12-10 16:07] sanjeevani279 commented on #411
@geekquad kindly assign me the following algorithms
Dijkstra algorithm
Prim's algorithm
Tarjans algorithm
Floyd warshall algorithm
Bellman-ford algorithm
Kruskal's algorithm

[2020-12-10 17:12] manish2202 commented on #407
Okay. Thanks

[2020-12-11 07:14] geekquad commented on #411
Hey @sanjeevani279, assigning Dijkstra algorithm, Prim's algorithm, Tarjan's algorithm, Floyd Warshall algorithm, Bellman-ford algorithm, and Kruskal's algorithm to you.

[2020-12-11 14:29] Iampradeepkundra commented on #300
i was assigned for BST and BTT and I Implemented for the same as well you can see the source files in directory i think accidentely uh unassiged me!

[2020-12-11 17:08] geekquad commented on #411
Assigning Cycle Detection in DAG (Directed Acyclic Graph), Johnson Algorithm, Kosaraju's Algorithm, and Ford-Fulkerson algorithm to @Aarushi11H.

[2020-12-11 17:13] geekquad commented on #300
Yes, @Iampradeepkundra. Those were assigned and completed by you. As such you were unassigned.

[2020-12-11 18:41] Deb2002 commented on #411
please assign bfs and dfs to me

[2020-12-11 18:44] Deb2002 commented on #411
please assign bfs and dfs to me(c++)

[2020-12-12 05:47] Poobalan1210 commented on #8
I like to add cycle sort.can you assign me.

[2020-12-12 08:21] Siddhant-K-code commented on #381
I would like to work on `Kosaraju's Algorithm`, Please Assign

[2020-12-12 18:52] 18Pranjul opened #423 "Topological sort needs to be added"
Can you assign me this issue?

[2020-12-13 06:42] geekquad commented on #423
Hey @18Pranjul, where would you like to add this?

[2020-12-13 07:01] 18Pranjul commented on #423
Yes, sure.

[2020-12-13 07:04] geekquad commented on #423
Hey @18Pranjul, I am asking where do you want to add this? I have not assigned you anything here. Please brief out!

[2020-12-13 07:25] 18Pranjul commented on #423
I would like to add this in cpp/Graphs algorithms.

[2020-12-13 08:02] geekquad commented on #423
Go ahead. Please add this in **"cpp/sorting"**.

[2020-12-13 10:03] A-Pandey20 commented on #239
@geekquad hey! I was assigned perceptrons XOR operator and have added a pull request for that. Kindly take a note.

[2020-12-13 10:06] geekquad commented on #239
@A-Pandey20, you were assigned XOR as well as XNOR. Do you want to opt-out of XNOR?
Also, PR for XOR is already merged.

[2020-12-13 11:10] A-Pandey20 commented on #239
@geekquad i am working on XNOR. XOR was completed so I created a pull request for it.

I will create another pr for XNOR once it is completed.

[2020-12-13 15:05] manish2202 commented on #407
Hello, I have done the necessary changes. Would you mind checking it? I had some work out of station so I couldn't work earlier.

[2020-12-16 12:01] LakhanMardi commented on #8
Hey @geekquad  can I work on cycle sort.

[2020-12-16 14:39] A-Pandey20 commented on #375
@geekquad  Hey! I couldn't find any files in the **Dimensionality Reduction Folder**. They are missing from both my local PC and this repo. Kindly take a note.

[2020-12-16 17:03] geekquad commented on #8
Assigning Cycle Sort to @Poobalan1210.

Sorry @LakhanMardi, issues are first come first serve.

[2020-12-16 17:17] manish2202 commented on #61
Hello. I want to work on Aho-Corasick Algorithm

[2020-12-16 17:20] geekquad commented on #61
Assigning Aho-Corasick Algorithm to @manish2202.

[2020-12-17 14:40] shash-2468 commented on #374
I will work on Subset sum problem
@geekquad   please assign it to me

[2020-12-17 15:09] geekquad commented on #374
Hey @shash-2468, the Subset sum problem is already assigned to someone else. Please see if you can contribute to some other issues.

[2020-12-17 15:10] geekquad commented on #374
Hey @itish-agarwal, are you willing to complete the issues assigned to you?

[2020-12-17 16:37] shash-2468 commented on #374
Okay @geekquad , If @itish-agarwal isn't willing to do then assign me please!!

[2020-12-17 16:38] itish-agarwal commented on #374
Yes please assign the issue to @shash-2468 as i am not able to complete it

[2020-12-17 19:12] geekquad commented on #374
Assigning Knight's tour problem, Subset-sum, and m Coloring problem to @shash-2468.

[2020-12-18 12:04] LakhanMardi commented on #364
Hey can i work on GRU?

[2020-12-18 17:42] #423 closed

[2020-12-18 17:45] 18Pranjul opened #439 "Some Algorithms needs to be added."
Can I add Dijkstra's Shortest Path, Floyd Warshall , Bellman-ford, Kruskal's and Prim's algorithms in /cpp/Graphs folder?

[2020-12-18 21:49] danish1804 commented on #411
can you assign bfs dfs and dijkstra algorithm to me?? i can work on this @Aarushi11H @sanjeevani279

[2020-12-19 15:28] geekquad commented on #439
Hey @18Pranjul, these are already listed [here](https://github.com/geekquad/AlgoBook/issues/439).

[2020-12-19 15:28] #439 closed

[2020-12-19 15:31] geekquad commented on #364
Assigning GRU to @LakhanMardi.

[2020-12-25 06:37] LakhanMardi commented on #364
**GRU** #443

[2020-12-25 06:40] LakhanMardi commented on #364
**GRU** #443

[2020-12-25 06:42] LakhanMardi commented on #364
**GRU** #443

[2020-12-25 06:42] LakhanMardi commented on #364
**GRU** #443

[2020-12-28 16:06] Ak-panchal commented on #406
Can I work on this issue?

[2020-12-28 16:07] Ak-panchal commented on #405
Can I work on this issue?

[2020-12-28 19:29] geekquad commented on #406
Hey @Ak-panchal, please send me a sample? Please join the community on Slack and reach out to me. Thanks.

[2020-12-29 12:24] shash-2468 commented on #374
everything is solved in this issue.
close this

[2020-12-30 13:44] LakhanMardi commented on #363
@geekquad  can i work on UNet?

[2020-12-30 13:45] #374 closed

[2020-12-30 17:15] geekquad commented on #363
Sure @LakhanMardi. Go ahead!

[2020-12-31 05:28] 18Pranjul opened #445 "String algorithms needs to be added."
These algos needs to be added in a new folder /cpp/Strings/

- [ ] KMP Algorithm
- [ ] Z-Algorithm

[2020-12-31 05:29] 18Pranjul commented on #445
Can you please assign me this issue?

[2020-12-31 05:58] LakhanMardi commented on #445
@geekquad can I work on kmp algorithm?

[2020-12-31 09:38] geekquad opened #446 "String Algorithms Cpp"
String algorithms:

- [x] String Hashing

- [x] Rabin-Karp for String Matching

- [x] Prefix function - Knuth-Morris-Pratt

- [x] Z-function

- [x] Suffix Array

- [x] Aho-Corasick algorithm

- [x] KMP Algorithm

[2020-12-31 09:39] geekquad commented on #445
Hey @18Pranjul and @LakhanMardi thankyou.
Created an issue for the same. Please check it out [here](https://github.com/geekquad/AlgoBook/issues/446)

[2020-12-31 09:39] #445 closed

[2020-12-31 09:39] geekquad commented on #446
Assigning Z and KMP algorithm to @18Pranjul.

[2020-12-31 14:33] RhuthuHegde commented on #446
can I work on string hashing?

[2020-12-31 15:29] geekquad commented on #446
Assigning String Hashing to @RhuthuHegde.

[2021-01-01 07:31] LakhanMardi commented on #446
@geekquad  can i work on rabin-karp algo???

[2021-01-01 12:02] RhuthuHegde commented on #446
Can you please guide me and let me know what exactly to be included in the string hashing algorithm?

[2021-01-02 11:47] LakhanMardi commented on #363
**UNet** #448

[2021-01-02 16:08] verma-shivani commented on #446
May I work on Suffix Array?

[2021-01-02 16:19] geekquad commented on #446
Assigning Rabin-Karp for String Matching to @LakhanMardi.
Assigning Suffix Array to @verma-shivani.
Hey @RhuthuHegde, String hashing is the way to convert a string into an integer known as a hash of that string. The goal of it is to convert a string into an integer, the so-called hash of the string. The following condition has to hold:
* If two strings s and t are equal (s=t), then also their hash

[2021-01-03 15:53] divyanshjoshi commented on #446
anything there to work on??

[2021-01-03 16:22] geekquad commented on #446
Yes @divyanshjoshi, we still have these two available:
- [ ] Prefix function - Knuth-Morris-Pratt
- [ ] Aho-Corasick algorithm

[2021-01-03 16:31] divyanshjoshi commented on #446
Okay, I'll go for the aho-corasik algorithm

[2021-01-03 20:07] geekquad commented on #446
Assigning Aho-Corasick algorithm to @divyanshjoshi.

[2021-01-04 23:31] JordanVanLeeuwen commented on #446
Hello, mind if I take a crack at the prefix function?

[2021-01-05 14:49] geekquad commented on #446
Sure @JordanVanLeeuwen, go ahead mate!

[2021-01-06 08:19] divyanshjoshi commented on #446
hey is there a deadline for the pull requests to be made?

[2021-01-07 17:09] joey2031 opened #453 "Add Algorithms in JavaScript"
I know you said feel free to make an issue for a language that is not currently here. I would love to work on some algorithms in JavaScript

[2021-01-11 09:12] geekquad commented on #453
Hey @joey2031, will be adding the track soon. Join the Slack channel to get updates. Thankyou!

[2021-01-14 18:52] #407 closed

[2021-02-19 13:32] Siddhant-K-code commented on #453
Would Like to Work on this.

[2021-02-27 05:51] HCoops commented on #366
I've created a PR for radix sort - is that still available?

[2021-03-12 05:45] wildchaser1703 opened #458 "Add Algorithms in JAVA"
Hi!

I would like to add and implement data structures and algorithms in JAVA.

[2021-03-24 12:06] atom19-i commented on #446
hey,is there anything i can work on,here?

[2021-05-20 04:48] #7 closed

[2021-06-20 03:41] dhruvMohapatra commented on #124
Hey, is the job sequencing done or could you assign it to me pls?

[2021-06-20 10:06] geekquad commented on #124
Go ahead @dhruvMohapatra.

[2021-06-21 02:03] dhruvMohapatra commented on #124
Hey, made a PR for this issue. Please feel free to provide some feedback, thanks.

[2021-06-25 21:20] #124 closed

[2021-08-24 07:09] Pranjal-dew commented on #373
hi there, can I contribute to this issue?

[2021-08-24 07:09] Pranjal-dew commented on #366
hi there, can I contribute to this issue?

[2021-08-24 07:09] Pranjal-dew commented on #365
hi there, can I contribute to this issue?

[2021-08-24 07:09] Pranjal-dew commented on #300
hi there, can I contribute to this issue?

[2021-08-31 07:41] jelonmusk commented on #61
Hi
Is the Aho-Corasick algorithm still available?
I would like to work on it

[2021-09-29 21:19] #406 closed

[2021-09-29 21:19] #405 closed

[2021-09-29 21:20] geekquad commented on #458
Hey @wildchaser1703, opening this repo for Java. Feel free to check out the issues and contribute!

[2021-09-29 21:20] #458 closed

[2021-09-29 21:21] geekquad opened #462 "Sorting Algorithms in Java"
- [ ] Insertion Sort

- [ ] Selection Sort

- [ ] Bubble Sort

- [ ] Heap Sort

- [ ] Quick Sort

- [ ] Radix Sort

- [ ] Merge Sort

- [ ] Topological Sort

[2021-09-29 21:24] geekquad opened #463 "Searching Algorithms in Java"
- [ ] Linear Search

- [ ] Binary Search

- [ ] Bilinear Search (Improvised version of Linear Search)

- [ ] Breadth-First Search

- [ ] Depth First Search

- [ ] Exponential Search

- [ ] interpolation Search

- [ ] Z Algorithm

- [ ] Fibonacci Search

- [ ] Jump Search

- [ ] Ternary Search

- [ ] Sublist Search

[2021-09-29 21:24] #446 closed

[2021-09-29 21:26] geekquad opened #464 "Graph Algorithms in Java"
Implementation of Graph Algorithms:
Needs to be merged in java/graph_algorithms

- [ ] A* (A star)

- [ ] Dijkstra’s shortest path algorithm

- [ ] Dijkstra’s Algorithm for Adjacency List Representation

- [ ] Kruskal’s Minimum Spanning Tree Algorithm

- [ ] Bellman-Ford Algorithm

- [ ] Floyd Warshall Algorithm

- [ ] Kahns Algorithm

- [ ] Peterson Graph Problem

- [ ] Steiner Tree

- [ ] Boruvk

[2021-09-29 21:27] #373 closed

[2021-09-30 05:15] wildchaser1703 commented on #464
Hi! I would like to work on this issue :)

[2021-09-30 05:16] wildchaser1703 commented on #463
Hi! I would like to work on this issue :)

[2021-09-30 05:16] wildchaser1703 commented on #462
Hi! I would like to work on this issue :)

[2021-09-30 12:47] Khushi-Agrawal-1 commented on #463
I would like to contribute towards this issue with documentation.

[2021-09-30 17:04] geekquad commented on #462
Hey @wildchaser1703, on which issue would you like to work on?

[2021-09-30 17:05] geekquad commented on #463
Hey @wildchaser1703, which issue would you like to work on?

Hey @Khushi-Agrawal-1, we are not accepting any documentation alone right now. We have a lot of beginner-friendly issues as well. Feel free to check them out!

[2021-09-30 17:18] wildchaser1703 commented on #463
Linear, Binary, BFS, DFS. Please assign those to me

[2021-09-30 17:20] wildchaser1703 commented on #462
I would pick the top 7, till merge sort.

[2021-09-30 17:34] Khushi-Agrawal-1 commented on #463
@geekquad What all is expected ?

[2021-09-30 18:10] geekquad commented on #463
Assigning Linear, Binary, BFS to @Khushi-Agrawal-1.

[2021-09-30 18:11] satyyyy commented on #463
i would like to work on this issue .

[2021-09-30 18:11] akii025 commented on #462
Hi! I would like  to work on this project

[2021-09-30 18:12] abh-1012 commented on #462
Hi! I would like to work on insertion  sort and quick sort

[2021-09-30 18:13] Astitv23 commented on #463
i want to work on linear, binary and BFS issues. please assign

[2021-09-30 18:13] akii025 commented on #463
Hi! I would like to work on Linear and Binary Search

[2021-09-30 18:13] satyyyy commented on #462
hey, i would like to work on bubble sort and insertion sort.

[2021-09-30 18:13] div2301 commented on #462
Hi! I would like to work on insertion sort and selection sort.

[2021-09-30 18:13] PrasoonSingh28 commented on #463
I want to work on Linear, Binary, Fibonacci and Breadth-First Search.

[2021-09-30 18:14] geekquad commented on #462
Assigning bubble and selection sort to @akii025.

[2021-09-30 18:15] Anadee11 commented on #462
Hey! I would like to work on merge and heap sort.

[2021-09-30 18:15] geekquad commented on #462
Assigning  insertion sort and quick sort to @abh-1012.

[2021-09-30 18:15] Astitv23 commented on #462
hello , i would like to work on heap and tree sort issues . please assign

[2021-09-30 18:17] PrasoonSingh28 commented on #462
I would like to work on Double, Recursive Bubble and Recursive Insertion sort.

[2021-09-30 18:17] MaxHomie11 commented on #463
Hi, I would like to work on Linear, Fibonacci and Exponential Search.

[2021-09-30 18:17] abh-1012 commented on #463
Hi! I would like to work on jump search .

[2021-09-30 18:19] geekquad commented on #463
We are aexpecting codes!

[2021-09-30 18:20] geekquad commented on #463
Assigning Fibonacci search and exponential search. to @satyyyy.
Assigning jump and sublist to @Astitv23.

[2021-09-30 18:22] MaxHomie11 commented on #463
Hi, I would like to work on jump search, ternary search and Sublist search.

[2021-09-30 18:22] Astitv23 commented on #464
i want to work on Steiner Tree issue. please assign

[2021-09-30 18:23] geekquad commented on #462
Assigning heap and tree sort to @Astitv23.
Assigning Double, Recursive Bubble, and Recursive Insertion sort to @PrasoonSingh28.

[2021-09-30 18:24] div2301 commented on #463
Hi! I would like to work on Bilinear and depth first search.

[2021-09-30 18:25] geekquad commented on #463
Assigning Bilinear and depth-first search to @MaxHomie11.

[2021-09-30 18:25] PrasoonSingh28 commented on #411
I would like to work on Breadth-First Search and Cycle Detection in DAG (Directed Acyclic Graph).

[2021-09-30 18:26] geekquad commented on #462
Assigning merge and radix sort to @Anadee11.

[2021-09-30 18:28] div2301 commented on #462
Hi! I would like to work on Tim sort and Shell sort.

[2021-09-30 18:30] geekquad commented on #462
Assigning Tim sort and Shell sort to @PrasoonSingh28.

[2021-09-30 19:50] kiki2601 commented on #462
Hi ! I would like to work on Gnome Sort and Bucket sort.

[2021-09-30 19:57] geekquad commented on #462
Assigning you with the same @kiki2601.

[2021-09-30 20:02] sparshgupta19 commented on #462
Please assign strand sort and counting sort.

[2021-09-30 20:03] Shubh1006 commented on #462
Please assign wiggle and tree sort.

[2021-09-30 20:03] mars1010101 commented on #462
Please assign pancake and pigeon sort to me.

[2021-09-30 20:05] geekquad commented on #462
Assigning strand sort and counting sort to @sparshgupta19.
Assigning wiggle and tree sort to @Shubh1006.
Assigning pancake and pigeon sort to @mars1010101.

[2021-09-30 20:06] Neelesh2 commented on #462
Please assign circle and double sort

[2021-09-30 20:07] geekquad commented on #462
Assigning circle and double sort to @Neelesh2.

[2021-09-30 20:23] SS010800 commented on #463
Hi ! I would like to work on ternary search.

[2021-09-30 20:24] SS010800 commented on #462
Hi! I would like to work on bogo sort.

[2021-09-30 20:25] geekquad commented on #463
Assigning ternary search to @SS010800.

[2021-09-30 20:25] vlx01 commented on #464
Hi @geekquad, I would like to work on Bellman-Ford Algorithm.

[2021-09-30 20:26] geekquad commented on #462
Assigning bogo sort to @SS010800.

[2021-09-30 20:27] vlx01 commented on #462
Hi @geekquad ! I would like to work on Cycle sort.

[2021-09-30 20:31] geekquad commented on #462
Hey @vlx01, Cycle sort is already taken. Feel free to check on our other issues.

[2021-09-30 20:33] geekquad commented on #464
Assigning A*Floyd Warshall, and Kruskal’s Minimum Spanning Tree Algorithm to @PrasoonSingh28.
Assigning Steiner Tree to @Astitv23.
Assigning Bellman-Ford Algorithm to @vlx01.

[2021-09-30 20:45] vlx01 commented on #462
Please assign Bitonic sort, if available !

[2021-09-30 20:59] geekquad commented on #462
Assigning Bitonic sort to @vlx01.

[2021-10-01 08:31] wildchaser1703 commented on #463
@geekquad I have added Linear Search. Need a little help from you though. Please check and advise.

[2021-10-01 10:40] CodeSudo commented on #464
can you assign me peterson graph problem?

[2021-10-01 11:04] sammy8825 commented on #411
Heyy
I would like to work on BFS , DFS , Cycle detection in DAG, prims algo, bellman ford algo, kruskals algo, dijkstras algo, Floyd warshell algo

[2021-10-02 07:48] Ayush21042002 commented on #462
Hi @geekquad can i work on Topological Sort

[2021-10-04 11:10] div2301 commented on #462
I would like to work on Topological Sort, please assign.

[2021-10-05 10:59] Gaurisha21 opened #496 "Algorithms related to Linked List in CPP"
A proposal to create a folder for Linked List in C++ containing algorithms like cycle detection and correction, slow-fast pointer approaches, etc.

[2021-10-05 16:11] jashnimje commented on #496
I would like to work on this.

[2021-10-09 05:32] Ayushi7456 opened #498 "Sliding Window Algorithm in JAVA"

[2021-10-31 17:11] Utkarsh299-tech opened #514 "Fix typo"
There is a spelling error of *Remember* in the  [README.md](https://github.com/geekquad/AlgoBook#readme) file.
For your reference, I have attached a screenshot of the same.
![Screenshot (1)](https://user-images.githubusercontent.com/60184229/139594480-0bf1b930-0b16-4f1e-acc4-96d56016d4e5.png)

[2021-11-21 05:10] brijeshsoni1300 commented on #496
I would like to contribute too for LL in c++ algorithms

[2022-01-08 10:07] Borazonic commented on #462
Hi! I would like to work on these issues

[2022-01-19 21:21] oliviadinicola commented on #464
Hi @geekquad , I would like to work on Dijkstra's Algorithm for Adjacency List Representation

[2022-01-21 16:46] juanrodl commented on #464
Hey @geekquad, I'd love to help you with this issue if still possible.

[2022-01-21 17:03] geekquad commented on #464
Hey @joaoMpf, go ahead :))
Yes @oliviadinicola, please go ahead :)).

Hey @juanrodl, which issue one would you like to work on?

[2022-01-21 18:03] juanrodl commented on #464
I would like to work on Kahn's algorithm if possible

[2022-01-23 15:17] geekquad commented on #464
Go ahead @juanrodl.

[2022-03-05 03:44] DThiebaud commented on #464
I would like to work on Karp’s minimum mean weight cycle algorithm.

[2022-04-15 00:10] zhixuanevelynwu commented on #462
Hi, @geekquad I would like to work on Cocktail Shaker Sort

[2022-08-02 16:05] swhemi commented on #462
Hey @geekquad ! I would like to work on recursive bubble sort. Can you please assign it to me?

[2022-09-05 07:30] ananyak19 commented on #61
Hi,
Is the Aho- Corasick algorithm available to work on?
Can you please assign it to me?

[2022-09-05 07:33] ananyak19 commented on #462
Hey, I would like to work on topological sort. Can you please assign it to me?

[2022-09-06 10:23] rutikal commented on #463
i would like to work on dept first search

[2022-10-01 10:34] araihC opened #523 "Gaussian Mixture Models in Python"
GMM clustering algorithm in python using the sklearn library.

I would like to work on this, please assign it to me.

[2022-10-01 13:14] rising-star2712 commented on #365
hi could i work on the following issue ?

[2022-10-03 15:38] Bhavya-Hingorani commented on #462
Hello @geekquad, I would like to do Recursive Insertion Sort issue for hacktoberfest'22. Please assign me.

[2022-10-03 15:39] kristymakhija commented on #462
Hello @geekquad, I would like to do Recursive Bubble Sort issue for hacktoberfest'22. Please assign me.

[2022-10-11 16:32] warriorwizard commented on #366
hi there @geekquad  assign me Assign me Heap, Merge, Quick and Selection Sort

[2022-10-15 06:24] SHIVA-JI commented on #463
Hi @geekquad I would like to work on Z algorithm , please assign this to me.

[2022-10-20 14:27] RuchikaSuryawanshi7 commented on #498
I want to work on this issue, could you please assign this to me!!

[2022-11-08 13:56] keiyanishio opened #560 "Add algorithms in C"
I want to create this issue for people add various algorithms in C

[2022-11-08 13:57] Cesar0106 commented on #560
I would like to help add algorithms in C language. They would be really helpful for me.

[2022-11-08 14:15] Cesar0106 commented on #560
I will be adding the first directories along with the first algorithm.